[2013-10-12 02:31] wingeek opened #1 "with server"
can work with leblanc-simon/php-tus,php-tus has a server solution, so tus-ios-client can work with it .....

[2014-08-16 11:31] michaelavila opened #3 "Duplicate"
Hi there,

I needed to use this client and had to make a few changes to get it to work. I also put it on Cocoapods. I changed the layout of the project to be more standard.

Anyway, I thought it worth offering to just transfer it to you guys if you'd like it. It's here: [michaelavila/TUSKit](https://github.com/michaelavila/TUSKit), Let me know. As it stands the client you have in your repo does no

[2014-08-18 18:54] #3 closed, assigned to nobody

[2014-08-20 04:59] #1 closed, assigned to nobody

[2014-08-20 05:43] michaelavila opened #4 "Change repository name"
@kvz Can we rename the repository to TUSKit? I realize it's not in the same format as the rest of the repositories, but it will be more familiar to iOS developers. Please consider, thanks.

[2014-10-03 12:34] #4 closed, assigned to nobody

[2015-02-04 18:04] Acconut opened #5 "Compatibility with tus 1.0"
tus 1.0 is just around the corner. I would be pleased to see this implementation being updated to support the next version. Most updates are outside the core so only minimal changes are required to maintain comparability. You can find detailed information or get feedback at the according issue tus/tus-resumable-upload-protocol#57-

[2015-04-07 05:54] MMasterson opened #6 "ERROR: connection requested new body stream, which is currently not supported in example"
Running the example with our server setup `tus.io` compliant and we are receiving

`<TUSResumableUpload.m:(115)> Finished upload to PATH/videos/uploads/15/ for fingerprint assets-library://asset/asset.mp4?id=30C691FA-5866-4498-82CB-E95FB600BD74&ext=mp4
2015-04-07 01:46:36.397 TUSKit[207:8879] url: PATH/videos/uploads/15/
2015-04-07 01:46:36.410 TUSKit[207:8879] <TUSResumableUpload.m:(157)> ERROR:

[2015-04-07 19:13] Acconut commented on #6
Thanks for reporting this issue but currently there is no developer actively maintaining this repository. I will try to contact the original authors.

[2015-04-07 22:31] michaelavila commented on #6
I will take a look at this in a couple of hours.

[2015-04-07 22:50] MMasterson commented on #6
@michaelavila @Acconut we actually just solved the body stream error. It was an API redirecting issue.

but we're still getting blank files

[2015-04-07 23:55] MMasterson commented on #6
@michaelavila @Acconut

Solved! The data is now writing to the server. We had to change the way the API received binary data in order to comply with `TUSKit` and the `tus` protocol.

Thank you for your quick responses! :+1:

[2015-04-07 23:55] #6 closed

[2015-04-22 19:28] Acconut commented on #5
@michaelavila If you are not able or interested any more to update this project, I would be pleased to see this repository being moved to your private account if that's not a problem for you. Please, don't believe that we don't appreciate your work and efforts put into TUSKit but I want to avoid having an official library which is not compatible with the latest version of the protocol.

[2015-04-22 20:13] michaelavila commented on #5
@Acconut I can start moving this towards 1.0 compatibility unless you have someone internal that you'd prefer to do the work.

[2015-04-22 20:19] Acconut commented on #5
@michaelavila It would be awesome if you could do that. If you have any questions about the 1.0 release feel free to reach out to me. :)

[2015-05-11 04:52] ArkadiYoskovitz opened #7 "Support Customisation"
Recently I had to do some work on an iOS client for a server that use a customised implementation of the TUS  protocol.

Which forced me to do some work arsounds on the TUSKit copy that we used.

Therefore I'm asking you to make TUSKit itself more open to customisation. If you'll expose the Header parameter so that the user will be able to pass some extra headers to the POST, HEAD & PATCH requests

[2015-05-11 04:55] ArkadiYoskovitz opened #8 "Handle type workings"
This implementation heavily uses NSUInteger which is an apple defined typedef that might change from platform to platform please move to a base type or use your own so that there will be no more compiler workings.

[2015-05-11 19:41] Acconut commented on #7
Further development of this iOS client for tus is, sadly, not guaranteed yet since it depends on @michaelavila as discussed in #5. I would like to see your issue addressed but I can't do anything by myself at the moment.

[2015-05-11 19:41] Acconut commented on #8
See https://github.com/tus/TUSKit/issues/7#issuecomment-101027838.

[2015-06-22 10:40] MMasterson commented on #7
@Acconut are there any plans for further development? Are there any major disadvantages with running the older version of TUS.io to support iOS? Is there any documentation to understand the workings of TUS.io for development of new 1.0 supportable iOS framework?

[2015-06-22 10:46] MMasterson commented on #7
@ArkadiYoskovitz have you solved your issues? or any kind of work around? / alternative method?

[2015-06-22 10:59] ArkadiYoskovitz commented on #7
Hi @MMasterson,
In the end i cloned the code and made a hack so that the TUS request holds a dictionary of headers.
and in the relevant places i add the headers from my dictionary to the request generated by TUSKit

[2015-06-22 11:04] MMasterson commented on #7
@ArkadiYoskovitz Nice approach! do you have your a fork? May I pull request?

[2015-06-22 11:10] ArkadiYoskovitz commented on #7
Unfortunately i did a copy/paste so no fork, but i can send you a copy of the files, whats your  email?

[2015-06-22 11:16] MMasterson commented on #7
@ArkadiYoskovitz Thank you very much! mrobertmasterson@gmail.com

[2015-06-23 20:01] Acconut commented on #7
@MMasterson I am happy to see that @ArkadiYoskovitz could help you in some of your regards. Sadly, the status did not change since my last comment:

[2015-06-23 20:25] kvz commented on #7
Maybe stating the obvious here but gents, if you'd want to help us push TUSKit forward your contributions will be much appreciated!

[2015-08-04 13:05] Drusy commented on #5
Hello,
We have just used your example and changed few things just to be working with the TUS 1.0.0 protocol, would you need that work ? It's only few headers update.
Let me know. :)

[2015-08-04 18:38] kvz commented on #5
@Drusy Thanks! @MMasterson is about to release a 1.0 compatible TUSKit today I think. If you have any improvements on top of that, it would be awesome if you could send us a PR for it!

[2015-08-05 06:24] Drusy commented on #5
@kvz Well, I will stay aware of the coming changes and let you!

[2015-08-20 18:37] MMasterson commented on #5
issue can be closed

[2015-08-20 18:37] MMasterson commented on #7
issue can be closed

[2015-08-20 18:38] #5 closed

[2015-08-20 18:38] #7 closed

[2015-10-18 06:12] #8 closed

[2016-03-19 09:27] makoy21 opened #12 "ERROR Unsupported URL"
Hi Im getting this error while uploading.

I'am using iphone 5 v9.2.1.

<TUSResumableUpload.m:(151)> ERROR: connection did fail due to: Error Domain=NSURLErrorDomain Code=-1002 "unsupported URL" UserInfo={NSUnderlyingError=0x17d758a0 {Error Domain=kCFErrorDomainCFNetwork Code=-1002 "unsupported URL" UserInfo={NSLocalizedDescription=unsupported URL}}, NSLocalizedDescription=unsupported URL}

error:

[2016-03-20 02:56] MMasterson commented on #12
Hey @makoy21, I'm happy to help resolve this for you. I just a little more information,

Can you supply some code of your TUSKit initialization and upload function?
What URL are you uploading to?
What version of the tus protocol are you using?
Which library of the server are you using?
Is the iPhone 5 the only platform you've tested it on?
Do you have any other clients successfully uploading to th

[2016-03-21 11:05] makoy21 commented on #12
Hi @MMasterson
**TUSKit initialization**
[code]

What URL are you uploading to?
I am using my custom TUS Server in AWS

**What version of the tus protocol are you using? **
TUS 1.0.0

**Which library of the server are you using? **
This one https://github.com/tus/tus-node-server/

**Is the iPhone 5 the only platform you've tested it on?**
No I also use iTouch gen 5

**Do you have any other clients

[2016-03-21 13:32] Acconut commented on #12
@makoy21 Thank you for this input. However, we would be pleased if you could tell us the exact URL as it stored in `UPLOAD_ENDPOINT`. We suspect that the URL might have an incorrect format, such as the missing `http://` protocol, and therefore causes the "unsupported URL" error.

[2016-03-22 05:27] makoy21 commented on #12
@Acconut
`static NSString* const UPLOAD_ENDPOINT = @"http://sample-tus-server.com/files/";`

[2016-03-22 18:13] MMasterson commented on #12
@makoy21 what exactly is `http://sample-tus-server.com`? - After pinging it, I've discovered there is nothing at that address - that's why it is unsupported. Replace` http://sample-tus-server.com` with the address to the server hosting your tus instance

[2016-03-23 23:24] MMasterson commented on #12
Hey @makoy21 - I will be closing the issue since `http://sample-tus-server.com` is an invalid server. If you run into this problem after setting up your `tus` server, feel free to reopen the issue, or post any other issues you may have and I'll be happy to help!

Mark

[2016-03-23 23:24] #12 closed

[2016-04-11 09:04] dio1677a opened #13 "I got an Error Unsupported URL"
Hi I got an error when uploading
I use iPhone6S Plus ,iOS9.3.2
this is my error message:
Error Domain=NSURLErrorDomain Code=-1002 "unsupported URL" UserInfo={NSLocalizedDescription=unsupported URL, NSUnderlyingError=0x126aa11b0 {Error Domain=kCFErrorDomainCFNetwork Code=-1002 "unsupported URL" UserInfo={NSLocalizedDescription=unsupported URL}}}

my url:  http://211.78.245.94:1080

[2016-04-11 20:25] Acconut commented on #13
From looking at the similar issue in tus-android-client (https://github.com/tus/tus-android-client/issues/6) would suggest using the proper upload creation URL http://211.78.245.94:1080/files/ (instead of http://211.78.245.94:1080/ which is missing the required path). However, I may be wrong since I am no iOS developer :) Please give it a try and report back.

[2016-04-12 01:25] dio1677a commented on #13
Hi ,I replace the url ,but ,I got the same error

error: Error Domain=NSURLErrorDomain Code=-1002 "unsupported URL" UserInfo={NSLocalizedDescription=unsupported URL, NSUnderlyingError=0x127ed2ba0 {Error Domain=kCFErrorDomainCFNetwork Code=-1002 "unsupported URL" UserInfo={NSLocalizedDescription=unsupported URL}}}

[2016-04-13 19:15] MMasterson commented on #13
@dio1677a - are you still having trouble with the setup? I'll be taking a look into today and updating a few of the operations.

[2016-04-14 00:58] dio1677a commented on #13
My colleague had upload successfully via android by the same url
my url is : http://211.78.245.94:1080/files/

[2016-04-17 17:03] Acconut commented on #13
@dio1677a Does the log contain information regarding TUSKit's activity? If so, please post it here.

[2016-04-18 02:15] dio1677a commented on #13
Hi, I got the infomation from log
"2016-04-18 10:13:42.131 TucIOTest[224:3707] <TUSResumableUpload.m:(62)> No resumable upload URL for fingerprint assets-library://asset/asset.PNG?id=3CA06F6C-7F2A-4D83-9913-1A1BADA5673F&ext=PNG
2016-04-18 10:13:42.166 TucIOTest[224:3707] <TUSData.m:(98)> TUSData stream opened
2016-04-18 10:13:42.167 TucIOTest[224:3707] <TUSData.m:(115)> Reading 32768 bytes from 0

[2016-04-18 08:23] kvz commented on #13
I might be missing the point here as I'm just dropping by, but `assets-library://asset/asset.PNG` doesn't appear like a URL/protocol that we support?

[2016-04-18 12:53] Acconut commented on #13
@dio1677a Thank you a lot for this snippet. I assume this will help us a lot.
As it seems, TUSKit is unable to extract the upload's URL (from the Location header) after creating an upload. This causes the URL to be null which results in the "unsupported URL" error.

@MMasterson Could it be that we are missing the necessary steps to verify the response of a POST request in terms of status code and

[2016-04-18 13:14] kvz commented on #13
Ah okay, never mind me!

[2016-04-19 16:41] MMasterson commented on #13
@dio1677a @Acconut I'm currently looking into the issue. Seems like there is some faulty communication.

[2016-04-20 00:39] dio1677a commented on #13
thanks a lot

[2016-04-21 02:25] MMasterson commented on #13
@dio1677a quick update

The server is responding with a 301 (redirect) and when it's redirecting it is losing the POST portion. I am working on a fix, should be done pretty soon.

But I also noticed, you not using the correct initializer...

`        TUSResumableUpload *upload = [[TUSResumableUpload alloc] initWithURL:[UPLOAD_ENDPOINT stringByAddingPercentEncodingWithAllowedCharacters:[NSCharacter

[2016-04-21 03:20] dio1677a commented on #13
Hi
From my pods, "Using TUSKit (1.0.0)",but the initializer was
[code]
I had try to update pod 10 min ago ,but still got the old initializer

[2016-05-06 20:17] cjhenck opened #14 "Improve background uploading"
For large and resumable uploads it makes sense for TUSKit to support background uploads.

It seems like there should be a way to do this with NSURLSession.

[2016-05-06 20:19] MMasterson commented on #14
I've received this feedback before. Working on an update that will support this, should only be a few more days :)

[2016-05-06 20:23] cjhenck commented on #14
That's great!  I was about to start working on it myself depending on feedback 😉

[2016-05-09 21:37] MMasterson commented on #13
@dio1677a  should be good to go!

[2016-05-09 21:37] #13 closed

[2016-05-11 21:31] MMasterson commented on #14
Let me know if this update is suffice for you!

[2016-05-16 19:09] cjhenck commented on #14
While this is helpful, this isn't actually what I meant.  My concern was that if the application is put into the background, the uploads will stop.  However, many users may expect uploads to continue unsupervised (e.g. start uploading a video, then go read your email):

https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundEx

[2016-05-16 19:26] MMasterson commented on #14
Oh I see what the original concern was, so you didn't mean off the main thread - just meant app-background uploads.

This seems like it would have to be be very heavily integrated into the app that is being developed.

You can always try the upload of the when it hit's background and it will resume. The protocol is written to not restart an upload but continue the upload from its last place. It sh

[2016-05-16 19:56] cjhenck commented on #14
Not at the moment, I am working on it this week though so I will let you know if I come up with a good method.

[2016-05-18 18:20] cjhenck opened #15 "File is marked as completed when more has been uploaded than expected"
Reading this code, it seems like if data has been uploaded before a callback is received and we attempt to resume the upload (e.g. the server offset is ahead of the local offset) then we mark the file as complete.  I believe the second-to-last line should read ```size >= [[self data] length]``` or similar.

[code]

[2016-05-18 18:24] MMasterson commented on #15
Good catch! Working on #14 - should have a pre-release shortly and I'll address this as well

[2016-05-18 19:05] MMasterson commented on #15
T

[2016-05-18 19:10] MMasterson commented on #15
Try the pre-release

https://github.com/tus/TUSKit/tree/1.2.0-BETA

Let me know if you run into any issues on your side before I fully release it

[2016-05-19 18:38] #15 closed

[2016-06-02 21:18] MMasterson commented on #14
@cjhenck AFNetworking seems to be a solid fit for your problem from what I've been reading - do you have any thoughts on it? I'd like to come up with a perfect solution for background uploads

[2016-06-02 21:24] cjhenck commented on #14
I'm pretty sure that even with AFNetworking (which is a great library) we have to use background NSURLSessions.  The problem that I've encountered is that if there is a wire failure, iOS will automatically retry an upload request you place onto the session, which will then continue to fail (and be cut off by the server) because the offset remains at 0 (or its last value if there was a successful c

[2016-06-03 21:34] cjhenck commented on #14
There is one workaround that may be functional for most people: subscribe to location changes, and do a quick HEAD and then PATCH request as a long-running task.  It will eventually get killed by the OS, but will at least move the upload along whenever the user changes location.  It seems like DropBox may use this technique.

[2016-06-06 13:05] Acconut commented on #14
This is an interesting approach but I can imagine it brings a few disadvantages with it. For example, does "subscribing to location changes" require the user to enable GPS or allow the application to even read the current position such as Android does? I could also believe that this behavior may not be optimal for battery lifetime.

You may also be interested in my suggestion over here: https://gi

[2016-06-06 22:51] MMasterson commented on #14
@cjhenck I am not fully opposed to your idea. Although I am not 100% sold on making it a full feature due to the fact that location services must be enabled and I wanna keep the SDK lite and heavy on battery/cpu/etc ussage. I can see it as an additional optional feature or we can go down the other alternative path that @Acconut suggested.

Which would benefit you more @cjhenck?

[2016-06-09 15:36] cjhenck commented on #14
@MMasterson I like the solution that @Acconut put forward.

I think that for the location-based resume, it's not something to build in, just something that users could be informed of as a solution.  The big change needed is persisting the data between app reloads, which we may not even want to do.

As an aside, I'm not sure I see that the current TUSKit implementation will change the offset of the

[2016-06-09 15:37] cjhenck opened #17 "Cannot resume a failed upload unless you know the server offset"
In the current version of TUSKit, if you resume a failed upload, the TUSData is not automatically advanced to the offset received by the server when checking the file.

[2016-06-16 08:57] kvz opened #19 "Renaming TUSKit"
Is that desired? What would be a better name? @cjhenck @MMasterson

[2016-06-16 21:42] cjhenck commented on #19
I personally think TUSKit is a pretty good name - not sure I can come up with something better unless it were very generic (like the java client). The problem with a generic name is I'm not sure how you encompass that it is both iOS and macOS.

[2016-06-16 21:50] MMasterson commented on #19
I don't think it's a necisary change at the moment, I'd like to get it more up to par before renaming. Such as closing the remaining issues, creating an macOS example.

But for renaming purposes, i don't see why tus-Apple-client wouldn't work.

[2016-06-17 07:54] kvz commented on #19
Alright, let's think about it some more, closing this in the meantime. If we ever feel stronger we can revisit 👍

(i personally don't have an opinion, only brought this up as i heard some complaints about this earlier, but i'm a little out of my comfort-zone naming ios/macos things)

[2016-06-17 07:54] #19 closed

[2016-08-21 18:13] RobIsHere commented on #14
Hi! Is there any progress on getting the ios support done right?
Can we already build on the implementation in the PR? Or is there still work to do?

I would really like to pack this in a cordova plugin and use it for our uploads. But we have huge files and TUSkit will fail in its current state. Workaround: the user touches his phone every minute for about an hour :grin:

[2016-08-22 18:44] MMasterson commented on #14
@RobIsHere - The PR was merged :) The pod isn't updated, so you'll have to install it manually until the new Pod is out

[2016-08-22 18:44] #14 closed

[2016-08-22 18:45] #17 closed

[2016-08-22 18:48] cjhenck commented on #14
@RobIsHere with the updated version, the uploads will continue in the background for a period (until iOS stops the process).  If you'd like to restart them occasionally, you can listen for significant location changes and restart the uploads then.

[2016-08-22 18:50] MMasterson commented on #14
@RobIsHere I'll be finishing up some docs for the new features before full release - unless @cjhenck already has some

[2016-08-22 19:06] cjhenck commented on #14
@MMasterson alas no documentation yet!

[2016-08-23 06:58] kvz commented on #17
Should we indicate why this was closed? Just to leave a paper-trail for people stumbling upon this issue?

[2016-08-23 07:02] MMasterson commented on #17
@Kvz will do, my apologies - was going to but lost time with the docs.

[2016-08-27 14:08] RobIsHere commented on #14
Thank you very much! Amazing!

I have read all the threads regarding this, but I'm not sure about the exact features that are currently in it. As i understood you had to chunk the files in TUSKit, queue up the fragments with the ios NSUrlSession, build them together when the upload is finished.

So from user perspective:
- keeps running in lock screen and when checking mails etc
- ios retries uplo

[2016-08-29 01:44] MMasterson commented on #14
@RobIsHere The discussion lead to an update where an upload is done in the background and continues as a background task until iOS will stop the process after a certain period of time. There are now better implementations to restart the upload and keep track of it.

The Location Update is more of a pattern, than an actual feature. If you implement location services on the iOS app, and listen for s

[2016-08-29 11:28] Acconut commented on #14
@MMasterson The so called Creation With Upload extension will soon be part of the tus specification (https://github.com/tus/tus-resumable-upload-protocol/pull/88). Also, I implemented the first draft of it into tusd, so you may want to play around with it

[2016-08-29 11:55] RobIsHere commented on #14
Ok. Got it! Thanks for the detailed explanation!

[2016-09-13 17:45] PhilipHayes opened #22 "Error Domain=NSURLErrorDomain Code=-1002 "unsupported URL""
I'm running the sample code exactly as it appears in the repo and one thing I've noticed in the errors that it logs back is that it somehow clips the http: off the the beginning of the url.

I'm running 1.2.1

my input (ip replaced with 0.0.0.0)
//static NSString* const UPLOAD_ENDPOINT = @"http://0.0.0.0:8000/files/";

2016-09-13 12:38:02.662 TUSKit[1201:675510] <TUSResumableUpload.m:(335)> Create

[2016-09-13 18:03] MMasterson commented on #22
@PhilipHayes I'm AFK until later on in the day. Will check when I get back. In the meantime can you supply the actual code? Also if this is time sensitive, have your tried 1.3? The Example file should help you out with implementing that.

[2016-09-13 18:37] PhilipHayes commented on #22
//
//  TKViewController.m
//  TUSKit
//
//  Created by Michael Avila on 08/10/2014.
//  Copyright (c) 2014 Michael Avila. All rights reserved.
//
//  Additions and changes for TUSSession implementation by Findyr
//  Copyright (c) 2016 Findyr

#import "TKViewController.h"

#import <AssetsLibrary/AssetsLibrary.h>
#import <TUSKit/TUSKit.h>

static NSString* const UPLOAD_ENDPOINT = @"http://162.208.48

[2016-09-13 18:42] cjhenck commented on #22
@PhilipHayes I'll take a look now.  Out of curiosity, did you enable arbitrary loads in your app? In iOS 9+, insecure http doesn't work in apps without either enabling arbitrary domains or whitelisting specific domains and the error messages can be cryptic.

[2016-09-13 18:45] PhilipHayes commented on #22
Yes its enabled.

[2016-09-13 18:49] PhilipHayes commented on #22
I'll take a look at the 1.3.0 version in the mean time.

For more information, on the server side there is indeed an established connection, but however the upload cancels leaving only a placeholder file on the server.

[2016-09-13 19:07] MMasterson commented on #22
@PhilipHayes you are not using the correct implementation. TUSFileUploadStore does not exist in 1.2.x.

https://github.com/tus/TUSKit/releases/tag/1.2.1 this is the release including the correct Example file.

And the docs on the readme show the correct way to use 1.2.x.

[2016-09-13 19:08] PhilipHayes commented on #22
Heh you are correct, sorry for the wrong version number!

[2016-09-13 19:10] MMasterson commented on #22
1.2.1's example implementation is as follows. For 1.3 @cjhenck would be more of a help. And be sure you are using the cloning the repo and including the class files. 1.3 has not been released on the Pod yet.

[code]

[2016-09-13 19:12] PhilipHayes commented on #22
You got it.

[2016-09-13 19:21] cjhenck commented on #22
@MMasterson :+1:

[2016-09-13 19:42] PhilipHayes commented on #22
Okay so using the same url but now I'm getting a connection lost error using the sample code you provided above.

    static NSString* const UPLOAD_ENDPOINT = @"http://162.208.48.211:8000/files";

    - (void)viewDidAppear:(BOOL)animated {
    [super viewDidAppear:animated];
    [self selectFile:nil];
    }

    - (IBAction)selectFile:(id)sender {
        UIImagePickerController *imagePicker = [UI

[2016-09-13 19:42] PhilipHayes commented on #22
Allow arbitrary loads is also enabled here as well.

[2016-09-13 19:47] PhilipHayes commented on #22
This looks to be similar to the issue #13

I'm also able to ping it like done so in issue #12

[2016-09-14 15:29] PhilipHayes commented on #22
I'm using the nodejs server 1.0.0, I've tried on localhost, my outbound ip, and my own vps. I was a lot farther with 1.3.0's example than I am with 1.2.1's example it seems.

[2016-09-14 15:49] PhilipHayes commented on #22
Okay I got it to work in 1.3.0, but the error code -1002 is the issue, the url is being truncated accidentally. Repairing the url fixes everything and it works quite nicely. However I'd rather not have to repair the url. I'll try and find where it is being truncated.

[2016-09-14 16:20] PhilipHayes commented on #22
The issue is not in the iOS client but in the nodejs posthandler.js

https://github.com/tus/tus-node-server/blob/master/lib/handlers/PostHandler.js at line 18

the protocol is missing, and so the response comes back invalid, yet pointing to an actual asset.

[2016-09-14 16:45] PhilipHayes commented on #22
In TUSResumableUpload.m I changed at line 331 from

    NSString *location = [httpResponse.allHeaderFields valueForKey:HTTP_LOCATION];
    weakself.uploadUrl = [NSURL URLWithString:location];

to

    NSString *fileName = [[httpResponse.allHeaderFields valueForKey:HTTP_LOCATION] componentsSeparatedByString:@"/"].lastObject;

    NSString *destination = self.delegate.createUploadURL.absoluteString;

[2016-09-14 17:20] MMasterson commented on #22
Thanks for the PR @PhilipHayes - my only question is really for @cjhenck. Did you run into this problem as well with 1.3? Maybe patched it before I merged?

[2016-09-14 20:52] MMasterson commented on #22
Solved with latest commit. discussed in https://github.com/tus/TUSKit/pull/23

[2016-09-14 20:52] #22 closed

[2016-10-04 04:09] paneaktae opened #25 "How to add TUSKit to project objective-c XCode 6.3?"
Help me please when i try to add project have many issues.

[2016-10-04 05:45] MMasterson commented on #25
In order to add TUSKit to such a low development platform, you'll need to download the repo as a  ZIP and drag over the Classes folder then import TUSKit in order to use it. The CocoaPod isn't supported for targets that low.

Can you explain "many issues"? What issues are you having?

[2016-10-23 05:23] MMasterson commented on #25
@paneaktae gonna close the issue. let me know if you need anymore help and I'll reopen it!

[2016-10-23 05:23] #25 closed

[2017-04-13 06:33] tahseen0amin opened #26 "Any plans for swift 3 migrations ?"
Any plans for swift 3 migration ?

[2017-04-14 01:07] MMasterson commented on #26
Hey @tahseen0amin - this SDK is written in objective-c and should work for all swift versions. Is there a specific issue you're hitting? A swift wrapper for the SDK is on its way, and will be written in Swift 3.1.

[2017-04-14 08:32] tahseen0amin commented on #26
No issue so far.
I am migrating code from objective C to swift 3 and was thinking of writing a swift wrapper myself if no one is doing it. Glad to know things have already started.

[2017-04-14 08:32] #26 closed

[2017-04-19 09:03] gjanblaszczyk opened #27 "Uploading video file using example demo doesn't resume after connection lost."
In the current version of TUSKit and example demo, if you uploading the video file and you lost the network connection for a few seconds and then network appered again then resume upload procedure will try to resending the file forever cusing huge memory leaking and app crash.
I tested with official tus demo server: "https://master.tus.io/files/"

    2017-04-19 11:36:21.806 TUSKit[3178:132189] pr

[2017-04-19 19:33] MMasterson commented on #27
I'll take a look later tonight - are you using strictly the example project? or do you have any other code implementations you're working off of?

[2017-04-19 22:10] gjanblaszczyk commented on #27
Hi MMasterson,

Yes, I am using strictly the example project. The only change I made was url to the server endpoint to "https://master.tus.io/files/". I run this on iOS 10.3 under the leatest  Xcode 8.3. If you will have some problems with reproducing this issue then just give me a shout and I will record the short screencast to show you what I see...

[2017-04-28 20:27] MarkMurphy opened #28 "Documentation?"
Would appreciate some docs.

[2017-04-28 20:28] MMasterson commented on #28
@MarkMurphy updating TUSKit this weekend - will have the new docs for you by then

[2017-05-04 01:29] #28 closed

[2017-05-04 01:30] MMasterson commented on #28
@MarkMurphy up! Let me know if you need more help or docs

[2017-05-10 13:30] dilawer commented on #27
Hi @MMasterson do you have any update on it ?

Thanks

[2017-05-15 21:08] allappsmobile commented on #27
Hi anyone found a solution for this??
@MMasterson @gjanblaszczyk  Any input greatly appreciated!

[2017-05-18 06:46] MMasterson commented on #27
@gjanblaszczyk @dilawer @allappsmobile haven't yet found a fix yet - anyone have any luck on this issue? Would love some of your feedback.

[2017-05-19 09:30] gjanblaszczyk commented on #27
Not me because I didn't use tusd server. I drop it and I am using custom server implementation that it works without this issue.

[2017-05-20 03:58] MMasterson commented on #27
Strange.

What implementation SDK are you using @gjanblaszczyk?

@kvz this issue only seems to be present with a `tusd` implementation. Any reason you can think of why there's a miss step with the `tusd`?

[2017-05-20 20:21] Acconut commented on #27
Can't think of any. Are you sure that this is a problem with tusd? We have been using it in production for some time now and didn't experience such problems. Did you try it with another server, such as tus-node-server, yet?

[2017-05-20 20:26] Acconut commented on #27
It may also be helpful to define what the actual issue is. From the logs, @gjanblaszczyk posted, I can't see where it should end up in an endless loop.

[2017-05-23 06:51] moonsoo opened #29 "is there any method for setting retry count?"
i'm using TUSKit for iOS client.

i heard android version of library supports retry count. but i can't find it in iOS version.

i can use failure block when bad url, not supported url, not found host,  and http status code in 500 to 600.

otherwise TUSKit automatically retry infinitely.

is there any method to setting retry count? or is there any plan to support retry count?

thanks

[2017-05-23 06:55] MMasterson commented on #29
Hey @moonsoo there is no method as of yet, but I can look into the android client to see what is happening and recreate it.

Can you please describe your scenario so I can recreate it?

Thanks!

[2017-05-23 07:25] moonsoo commented on #29
@MMasterson

my scenarios are:
- case 1
retry upload infinitely when i received network failure.
(it occurs when i set airplane mode)

- case 2
retry upload infinitely when i received http response error.
(it occurs  when i set one of tus metadata's value to empty string. for instance key is "event_code" and value is "")

i thought: (if i can set retry count to 5)
- case 1 upload fails when i rece

[2017-05-23 09:41] gjanblaszczyk commented on #27
Hi @MMasterson , I am planning to close this issue if no one else experiencing this issue. I guess that can be problem specific to my environment. Does anyone else see this problem? if not I will close this issue shortly...

[2017-05-23 13:45] Acconut commented on #29
Could this be related to #27 as both seem to retry forever?

[2017-05-23 14:16] allappsmobile commented on #14
@MMasterson  was this resolved? (without using location/audio trick) we are experiencing the same issue, upload does not resume after app going to background and os terminating process... anyhelp?

[2017-05-25 09:15] moonsoo commented on #29
@Acconut
i think this could be related to #27 as a sub issue.
if i can set retry count, endless loop could be disappear. then my issues will be gone.

[2017-08-08 01:57] MMasterson commented on #27
Will reopen if anyone else experiences this issue.

[2017-08-08 01:57] #27 closed

[2017-08-09 19:39] MMasterson commented on #14
@allappsmobile The location trick is the only work around at this time because iOS itself does the suspending of long requests.

[2017-10-03 13:20] tribitinfotech commented on #14
hello,

When i select Large video TUS kit automatically start from initial bytes in progressBlock after uploading few bytes

Can you please let me know why this happens in TUS Kit iOS ?

Thanks

[2017-10-03 14:23] tribitinfotech opened #30 "Not able to Upload large file"
Hello,

I have implemented TUSKit successfully in code with swift 4 and xcode 9 and videos are uploaded successfully as well.

Problem that i am facing is if i select large videos and start to upload it will started upload video but after uploading few bytes (80%) it will start to upload again from 0 bytes in progress block thus it will not uploaded fully video

Can you please suggest why this hap

[2017-10-03 23:04] cjhenck commented on #14
@tribitinfotech I'm not entirely sure I understand.  Are those bytes definitely upload bytes and not the initial HEAD/POST request?  Are those initial bytes appearing on the server side?  It's possible you are receiving an error code causing the reset.  The best way to check would be to add a debug point at the exit of the first request to see what the error status was. Can you please open a new i

[2017-10-03 23:05] cjhenck commented on #14
See #30 for continued discussion

[2017-10-03 23:07] cjhenck commented on #30
I haven't experienced the same problem myself except when the server is offline or hasn't saved the file.
What's your server configuration?
Have you checked whether the initial bytes end up saved on the server?
Can you add a debug point at the error code for the upload to see why it failed, and at the HEAD request of the resumption to see what the response is?

[2017-10-04 10:10] tribitinfotech commented on #30
Thanks for your reply cjhenk

Actually i am using same server provided by TUSKit (http://master.tus.io/files/) and fileURL of my local document library.

As per your instruction i have put debug point to see errors and it stated status code 413 (request too large)

Hope this much is enough for information

Thanks

[2017-10-04 10:21] kvz commented on #30
`413 (request too large)` might actually be something that Nginx returns which is proxying in front of tus at the demo server. @Acconut does this sound plausible?

[2017-10-04 11:37] tribitinfotech commented on #30
Hello,

Let me provide you full error description and for your information i am not getting this type of error everytime.Will getting this at only some time and for few minutes only then it works automatically

<TUSResumableUpload.m:(534)> Invalid status code (413) during attempt to upload, checking state

![screen shot 2017-10-04 at 2 35 37 pm](https://user-images.githubusercontent.com/20172434/3

[2017-10-04 12:09] Acconut commented on #30
No, I don't think that it's Nginx' fault. The tusd instance at master.tus.io has an upload size limit of 1GB since it's just a demo server and not meant for production use. If this limit is exceeded a 413 will be returned. @tribitinfotech How big is the video you are uploading?

[2017-10-04 12:41] tribitinfotech commented on #30
Video is small around 8-10 sec but issue is this happens only for few minutes after that if you upload same video it works perfectly

Thanks

[2017-10-04 12:43] Acconut commented on #30
Sorry, if I was unclear. I was referring to the file size in bytes not the length of the video. How big is the video in terms of file size in bytes?

[2017-10-23 09:31] pvinis opened #31 "dead?"
is this project dead? there are many deprecated things in here.

[2017-10-23 14:48] Acconut commented on #31
This project is not dead. Since this is a usable and working version, activity in this repository has been a bit rare but it's still supported.

Would you mind explaining a bit more what "things" are deprecated? Are you talking about TUSKit's API or Foundation's API?

[2017-10-23 14:53] pvinis commented on #31
deprecations as in it uses https://developer.apple.com/documentation/assetslibrary/alassetslibrary and its been deprecated since ios 9.

[2017-10-24 02:03] MMasterson commented on #31
Not dead - But yes I have forgotten about this method, mainly because `initWithURL` is what should be used. As for the Example I will update with the new Photo Library and change the asset `init`

For future, this is a community project and PR's are always welcome! :)

[2017-11-15 15:20] akyureklier opened #32 "SSL support"
Does this library support HTTPS links?
Basically, we are trying to implement SSL pinning at iOS end with a self signed certificate.

[2017-11-16 21:19] MMasterson commented on #32
SSL pinning isn't supported on the current release. I've added it to the list though!

[2017-11-16 21:20] #31 closed

[2018-01-03 08:35] dongmai opened #33 "TUSFileUploadStore fails to save to disk - restoreAllUploads always return empty"
Hi everyone,

I'm using the example for iOS, but function `[self.tusSession restoreAllUploads]` always return an empty array although I know there is pending upload for sure. (I've closed app from app switcher)

As reading code, I guess that's caused by `TUSFileUploadStore` is linking with app container absolute path while the path itself will be changed per app launching.

Any solution for this?

[2018-01-03 09:08] dongmai commented on #33
As debugging I saw that `TUSFileUploadStore` always failed to save upload task to disk.

The line **54** in `TUSFileUploadStore.m `file, console always got `success: 0`
<img width="730" alt="screen shot 2018-01-03 at 4 05 29 pm" src="https://user-images.githubusercontent.com/3855966/34514443-10882b26-f0a0-11e7-882e-808550227708.png">

My environment: Xcode 9.2.

[2018-01-03 09:47] MMasterson commented on #33
Few questions for more info:
Can you please provide your full implementation? Also a little a bit about your use case? How many files are you storing, etc? and version of TUSKit are you running? Thanks!

I'll look into this in the AM, set it on my calendar

[2018-01-03 09:56] dongmai commented on #33
I'm using exactly the source code on master branch.

What I've done is uploading multiple files under low network connection (to make sure there is always having pending uploads), then stopped and ran app again on simulator but there is no pending upload at all.

[2018-01-03 10:03] MMasterson commented on #33
Okay got it. I'll look into the saving to disk, add a failure catch as well. Then run through to make sure the `Uploadstore` saves on app termination.

[2018-01-03 10:12] dongmai commented on #33
Ok, thank you.

[2018-01-04 07:33] dongmai commented on #33
Hi @MMasterson, did you find any solution for this?
As googling I see this might useful, https://stackoverflow.com/a/8713924/1455262

[2018-01-04 08:02] dongmai commented on #33
Oh, I did a minor update and the issue has resolved,

On file `TUSResumableUpload.m`, line `609`, need to change `[NSNull null]` to a string.
<img width="1233" alt="screen shot 2018-01-04 at 2 55 44 pm" src="https://user-images.githubusercontent.com/3855966/34554442-8047ff94-f15f-11e7-9dd9-31fbf81883db.png">

Seems the bug is related to `serialize` function as the returned dictionary isn't a valid

[2018-01-04 08:12] MMasterson commented on #33
I looked in a bit today, but didn't have enough time to run an update on the pod. Glad to figured out a fix, if you can submit a PR to the repo it'd be much appreciated. I plan on releasing a new version to the repo and pod this week with a few more tweaks. But if this fixes your problem, everything seems stable. I'll run a few more tests and integrate with TravisCI before release. Thank you for c

[2018-01-04 21:23] MMasterson commented on #33
Closed issued with #34

[2018-01-04 21:23] #33 closed

[2018-02-01 20:56] nicolelehrer opened #35 "Supporting Background Uploads"
Hi all, thanks for the great client - it was super easy to get up and running fast.

I saw that TUSKit provides a means for asking iOS for more time to finish its upload task before the app moves to the background, by using the method described in "Executing Finite-Length Tasks" of this [Apple doc](https://developer.apple.com/library/content/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide

[2018-02-02 01:24] cjhenck commented on #35
IIRC, with the extension TUSKit could be modified to chunk the files, upload each, and concatenate them if all the uploads we're successful.

I had tested this approach before the extension was added and it's extremely clunky. Are you having problems with the current background uploading?

[2018-02-02 15:13] nicolelehrer commented on #35
Thanks for the info, @cjhenck. It did sound potentially clunky, and I mostly wanted to checkin on if there had been any updates since those discussions had last taken place. Btw, no technical problems running the current implementation, just to make sure that's clear too.

[2018-02-02 16:34] cjhenck commented on #35
I'm afraid I can't answer on the progress front unfortunately, since I haven't been using TUSKit recently.  Glad the current version is working, though!

[2018-02-05 17:47] Acconut commented on #35
As @cjhenck said, this is the recommended approach from the protocol's point of view. However, I am not sure how far this has been implemented in TUSKit, but @MMasterson should know the details.

[2018-02-14 02:07] MMasterson commented on #35
hey @nicolelehrer an update for these types of functions is being worked on currently.

@cjhenck do you have examples of your methods?

[2018-02-15 16:49] phawk commented on #30
@Acconut I am having issues with large files as well. I have been using the JavaScript TUS client for some time with a chunk size set to 5MB and using tus-ruby-server behind nginx. Now using TUSKit I get errors uploading videos of > 100mb because my nginx max upload size is only 100mb.

Having read the source code (I am a swift programmer so my objective-c is a little lacking) it doesn't look like

[2018-02-16 10:38] Acconut commented on #30
I don't know that out of my head, but @MMasterson will know for sure as he is the genius behind TUSKit.

Amazing, thank you for that in advance 👍

[2018-02-20 10:26] fadielse opened #37 "is it available for swift 4 version?"
Hi!
I used to use this library on my objective c project and i like it
is it available for swift version?
if not how to use this library on swift project?

thanks

[2018-02-20 22:05] MMasterson commented on #37
Hey @fadielse,

There is no 100% `Swift` version in order to keep compatibility between `Objective-C` and `Swift`. But `Objective-C` is compatible  with `Swift`. If you import the `TUSKit` Library with a bridging header you will be able to use. Installing the Cocoapod Xcode should create one for you.

[2018-02-21 03:11] MMasterson commented on #37
@fadielse

I have added a `Swift` Example in the development branch.

[2018-02-21 03:11] #37 closed

[2018-02-21 03:30] fadielse commented on #37
Hallo @MMasterson

thank you for the example already given, I was greatly helped

[2018-02-23 01:06] nicolelehrer commented on #35
Thanks for the update @MMasterson. Do you mean that you'll add api for file chunking, uploading each chunk using `uploadTaskWithRequest:fromFile:` via the creation with upload extension, and then making a concatenation request? Do you possibly have an estimate on about when those changes would make it into the project? Thanks!

[2018-05-25 07:07] fadielse commented on #30
i have the same problem if upload photo with certain network example i use provider network "XL" in my country.
results that occur when the process is complete will be repeated again to 0/53058

this is the result of debugging:

progress: 53048/53048
[1777: 431297] TIC Read Status [810: 0x11dc03590]: 1:57
[1777: 431297] Task <647F81A7-9BD3-4D30-8431-8894D55FF72D>. <1576> HTTP load failed (error co

[2018-07-25 16:01] cmrocha opened #39 "Result Block description typo?"
In the Readme section discussing the different types of assignable blocks, I believe there is a lil' typo.

The above should read, "A block fired when your upload is successful".

Thanks for the library. It's nice  : - )

[2018-07-25 18:05] MMasterson commented on #39
Oops - fixed! Thanks for reporting it!

[2018-07-25 18:05] #39 closed

[2018-09-17 17:10] cmrocha commented on #35
Thank you for tusKit! Any update on true background updates?

[2018-09-18 18:28] cmrocha commented on #35
Thanks so much for getting back to me! If I come up with a decent solution I will absolutely let everyone know.

[2018-09-19 17:18] cjhenck commented on #35
Just seeing this again - these are the problems I remember, but I may be wrong:

1) You don't have control over the retry. So the OS might upload the same chunk an indeterminate number of times.  The protocol needs to support this (it may now, with proper extensions). Also be aware of the data use considerations.
2) I don't think the callbacks are guaranteed, so you need to somehow initiate the me

[2018-11-02 11:23] ilariadinardo3 opened #40 "Headers and Metadata in Swift"
Which is the right position and name to insert "Upload-Length","Upload-Offset" and etc.? Where is their location, headers or metadata?
let upload: TUSResumableUpload = tusSession.createUpload(fromFile: fileURl, headers: ["Authorization":"Bearer " + token], metadata: ["":""])

[2018-11-02 17:41] MMasterson commented on #40
I'm sorry, not really sure what you're asking here. Are you retying to put in your own `Upload-Offset` and `Upload-Length` headers? Those are already added by the SDK - there is no need to add them yourself

[2018-11-09 05:49] MMasterson commented on #30
https://github.com/tus/TUSKit/pull/38 seems to solve this issue with chunking

[2018-11-12 19:49] MMasterson commented on #40
closing this issue. If you are still having issues @ilariadinardo3 feel free to comment and I'll reopen it

[2018-11-12 19:49] #40 closed

[2019-03-12 13:26] MohammadrezaZamanieh commented on #29
failure block not called when im getting 405 HTTP status code and TUS running on infinite loop for trying again
 <TUSResumableUpload.m:(372)> Server responded to create file with 405. Trying again

[2019-03-12 19:07] Acconut commented on #29
@MohammadrezaZamanieh Your problem is not related to the issue described by @moonsoo. The "405 Method Not Allowed" error means that you are using the wrong URL endpoint. Please ensure that you are passing the correct file creation URL to TUSKit. If your problem persist, please open a new ticket.

[2019-03-12 19:25] MMasterson commented on #29
@MohammadrezaZamanieh

I still see value in adding these two flags and I'll bump it in the list of priority.

The proposed changes would deprecate the following method
`TUSResumableUpload *upload = [self.tusSession createUploadFromFile:fileUrl headers:@{} metadata:@{}];`

And introduce these two as a replacement

`TUSResumableUpload *upload = [self.tusSession createUploadFromFile:fileUrl headers:@

[2019-03-12 19:30] Acconut commented on #29
@MMasterson You're right, these options are still useful. How do you plan on implementing them? Are the retries attempted immediately after each other or is there a delay between them (or maybe even some exponential backoff mechanism)?

[2019-03-12 19:39] MMasterson commented on #29
@Acconut - Thinking about it more, I believe the API for the android SDK and TUSKit should be similar. Looking at the Android SDK, and correct me if I'm wrong, but if an upload fails it just returns a new upload object, allowing a retry up to whatever parameters the developer sets.

That implementation would update the failure block as such

[code]

[2019-03-12 19:44] Acconut commented on #29
You are mostly right but the tus-java-client doesn't return a new upload. Instead, you have to manually query for a new upload. That's what following line in the example (https://github.com/tus/tus-java-client/#usage) is doing:

`TusUploader uploader = client.resumeOrCreateUpload(upload);`

[2019-03-12 19:50] MMasterson commented on #29
@Acconut that's where the API differs a bit, but it is still the most equivalent practice. I think its the best approach, I'll begin working on it

[2019-03-12 19:51] #30 closed

[2019-03-12 20:13] Acconut commented on #29
Sure, if you think this approach fits TUSKit better then please go ahead :+1:

[2019-03-13 06:14] MohammadrezaZamanieh commented on #29
@MMasterson  @Acconut
i think the new method with "retryCount" will be enough and there is no need to method with "retry:NO" because when the retry is NO that means "retryCount:1" and when "retry:YES" that means infinite retries that can be handled with "retryCount:1000" or something like this

i think it would be better if errors like 405 and other failure https Status codes should handle in "Fai

[2019-03-15 21:16] Acconut commented on #29
It's hard to distinguish between errors which can and cannot be fixed by retrying. When in doubt I would prefer to retry anyways because that's not a big loss if it doesn't work. However, I agree that TUSKit should never end up in an infinite retry loop. I am not sure if that's currently the case but if so, I would like to ask @MMasterson to address this :)

[2019-03-15 21:24] MMasterson commented on #29
@Acconut @MohammadrezaZamanieh

It does end up in a loop, and it's infinite until intervention. The upload can be canceled or stopped, but the process of doing so should be updated.

Addressing it this weekend!

[2019-03-15 21:47] Acconut commented on #29
@MMasterson Thank you, perfect!

[2019-04-01 22:51] MMasterson commented on #29
Just released `1.4.0` with retry count! Closing this issue.

Let me know if you have anymore questions or suggestions!

[2019-04-01 22:51] #29 closed

[2019-04-03 18:34] Acconut commented on #29
Very nice, @MMasterson! Does this also address issue were TUSKit can end up in an infinite retry loop?

[2019-04-03 20:52] MMasterson commented on #29
@Acconut Yes! This adds a retry count parameter to the method, as suggested by @MohammadrezaZamanieh.

[2019-04-10 08:52] darecki opened #43 "Carthage support"
Do you plan to add support for Carthage users?

Even if not, it would be great to add instructions how to install the lib manually. Not everyone uses CocoaPods. Thanks.

[2019-04-10 16:43] MMasterson commented on #43
Hey @darecki

I can totally add Carthage support for you. I know #41 was submitted with manual lib/Carthage support in mind and it’s been on my mind since. I’ll get working on it for you

[2019-04-11 04:48] xorander00 commented on #43
Nice!  I was just wondering this myself a minute ago and then happened to stumble upon this issue.  I'll test it as soon as it's pushed up :)

[2019-04-11 08:23] MMasterson commented on #43
@darecki @xorander00 it doesn’t seem to be too big of a task, should have this closed by the weekend.

[2019-05-07 21:54] GalCohen opened #44 "Unrecognized selector exception on initWithUploadId:file:delegate:uploadHeaders:finalMetadata:state:uploadUrl:"
Hi all, thanks for a nice & simple library. Appreciate the work you save us from reinventing the wheel. I'm running into the follow issue: I tried to initialize a session with the createFromFileUpload...uploadUrl variant and I hit this every time. Looks like it funnels into a private designated initializer... possibly one that isn't implemented?

2019-05-07 17:52:16.335337-0400 Arnor[11925:2586261

[2019-05-07 22:00] MMasterson commented on #44
hey @GalCohen can you post the code of your implementation?

[2019-05-07 22:14] GalCohen commented on #44
Thanks for the very quick response. Here's an example. I had to strip some stuff private stuff out, but it should still be enough to get idea across:

[code]

[2019-05-07 22:37] MMasterson commented on #44
Be sure you're up to date and using version `1.4.0`

By the looks of your code, it seems like you are mixing up the two possible routes of implementing TUSKit. There is the more traditional way, where TUS creates the file when you start a new upload, and then am "upload only" route where the file was already previously created (see #42)

        `guard let upload = session.createUpload(fromFile: f

[2019-05-07 22:40] GalCohen commented on #44
To give some more context, I'm trying to upload a video to vimeo following this guide:
https://developer.vimeo.com/api/upload/videos#resumable-approach

In there, the first step is POST to Vimeo to create the video file location. Step two is to kick off the resumable upload. Based on that it seemed to me that I should use the `session.createUpload(fromFile ... uploadUrl:)` version so that i skip t

[2019-05-07 22:45] GalCohen commented on #44
Hmm #42  is exactly my use case: POST already took place, just need to update. That's why I went with:
[code]

[2019-05-07 22:53] MMasterson commented on #44
Ahh, I see now. #42 was added a bit later - I believe you can set the upload url to `https://api.vimeo.com/me/videos` in the `TUSSession`, and it'll take care of the post for you.

[2019-05-07 22:56] GalCohen commented on #44
Ah. thanks! I'll give that a shot and report back. I wasn't sure if that step was a vimeo specific thing or part of the TUS protocol. Either way though, I still think there's an issue that causes this crash that may be worth looking further into.

[2019-05-07 22:56] MMasterson commented on #44
However seems you may have found an issue with upload only so let me take a look and get a patch out for this. Then you can continue the current way you're going about it

[2019-05-08 14:49] GalCohen commented on #44
@MMasterson  I tried forking this and taking a look at the fix myself, and I found several other concerning warnings... am i doing something wrong? wrong branch maybe? i'm on master, on xcode 10.1 and I'm seeing some pretty important stuff to address:

![Screen Shot 2019-05-08 at 10 47 46 AM](https://user-images.githubusercontent.com/1293368/57384591-e5fea680-717e-11e9-9ee1-3ef875d13b22.png)

![Sc

[2019-05-08 22:10] MMasterson commented on #44
Yeah there are still a few warnings I have to clean up there, it's definitely on the todo list for me, among other things. But feel free to submit a PR if you'd like!

I've submitted #45 to clear up your issue. Before I release the version though, are you able to checkout the develop branch?

[2019-05-09 14:58] GalCohen commented on #44
Thanks @MMasterson that definitely addresses the crash. I'm not sure if this next part is related, but the request keeps timing out. Is there a way to extend the timeout? or maybe it's an indication of something wrong?

[2019-05-09 18:11] GalCohen commented on #44
Was able to get around the timeout issue but setting the chunk size. However, now I keep getting the same offset back in the response... it never advances. http code 204

[2019-05-09 20:22] GalCohen commented on #44
@MMasterson Phew! Problem solved... turns out i set the `TUSFileUploadStore`'s fileUrl to the same as the video's fileUrl, so it was writing over my video with other data.

Your PR #45  solved my issue.

I'm not sure how many people will make the same mistake I made. It might be worth considering added some assertion for the programmer error of setting the session's fileURL to the FileUploadStore'

[2019-05-10 00:12] MMasterson commented on #44
Awesome @GalCohen! Glad #45 closes this issue.

Not a bad idea, I'll make sure that's part of the next release. Merging #45 now and updating the pod to `1.4.1`

[2019-05-10 00:14] #44 closed

[2019-07-08 03:06] red16035 opened #47 "fail stopupload() -> resumeUpload()"
Hi, Thank for this library.

stopUpload() -> resumeUpload() is not working.

my project is :
- Deployment target 12.1
- swift 4.2
- upload url : https://master.tus.io/files/

test device : iphone 8

code :
func stopUpload() {
        upload?.stop()
}

func resumeUpload() {
    upload?.resume()
}

log message :
2019-07-08 11:44:29.112666+0900 TAP[36537:6302131] <TUSResumableUpload.m:(620)> Resumabl

[2019-07-08 05:09] red16035 commented on #47
full source
------------------------------------------------------------------------

import Foundation
import UIKit
import TUSKit
import Photos

class FileUploader {

    var upload: TUSResumableUpload?
    var tusSession:TUSSession?

    private var progressBlock:TUSUploadProgressBlock?;
    private var resultBlock:TUSUploadResultBlock?;
    private var failureBlock:TUSUploadFailureBlock?;

[2019-07-08 06:15] MMasterson commented on #47
Hey @red16035

I’ll take look at this first thing tomorrow!

[2019-07-09 01:40] MMasterson commented on #47
hey @red16035

running through a few tests under your specs, but just to be clear on the order here

1. you are start creating an upload, and starting it
2. stopping it in the middle of upload
3. trying to start it up again and it's failing out

[2019-07-09 01:55] red16035 commented on #47
Hi, @MMasterson
That's right.
And I tried uploading with mp4 file.

the same in v1.3.x and v1.4.2.

[2019-07-09 02:37] red16035 commented on #47
I solved this problem.

I added next code.

**upload?.setChunkSize( 1024 * 1024 )**
upload?.resume()

[2019-07-09 02:43] MMasterson commented on #47
hey @red16035 glad you found a way for it to work, however you shouldn't have to do that. Although from your workaround I can see where the problem lies. I'll begin working on a fix and include it in the next version

[2019-07-23 04:29] ruslanskorb opened #48 "Unrecognized selector exception on initWithUploadId:file:delegate:uploadHeaders:finalMetadata:state:uploadUrl:"
Hi guys!

Thanks for the library!

I'm running into the following issue: I tried to restore the upload with `restoreUpload:` method and I hit this every time. It funnels into a private designated initializer in the declaration of which one of the parameters is missing.

[code]

[2019-07-23 21:48] MMasterson commented on #48
Hey @ruslanskorb!

Thanks for the report and quick fix! Will review #49 and get it into the next version ASAP!

[2019-07-28 16:11] #48 closed

[2019-07-31 13:52] Pavan96 commented on #47
Hi I am trying demo application and its working for video file(250 MB) upload. But I am not able to find the way to upload file in background mode as it uses **defaultSessionConfiguration**.  Does library has example  for **backgroundSessionConfigurationWithIdentifier**. Any help or guidance will be appreciated. Thanks for such a good library.

[2019-08-08 11:16] bishowu opened #51 "Can't resume upload after restarting app"
I can't find a way to resume the last upload after restarting app. Is there a way to resume uploading the same file to the same temporary file ? Thank you
(I found that the upload id is different from the last upload id and the file will be uploaded to a new temporary file.)

Here is my codes written by swift4

        let asset = PHAsset.fetchAssets(withLocalIdentifiers: [media.mediaId], options:

[2019-08-12 13:36] Acconut commented on #51
@MMasterson Would you mind looking into this? :)

[2019-08-13 18:51] MMasterson commented on #51
@Acconut @bishowu Sorry for the delay!

@bishowu there is a method to upload to an already created file, however I believe it starts from 0. Let me take a deeper look today

[2019-08-19 01:44] bishowu commented on #51
@Acconut @MMasterson Thank you !
@MMasterson Is there any news on this ?

[2019-08-20 15:28] Richardson12345 opened #52 "is there an example for swift implementation?"

[2019-08-20 15:30] Richardson12345 commented on #52
it seems like this question was brought up a year ago with someone stating that you can find the swift implementation on the development branch. If there is one, can i please get links? thanks

[2019-08-21 01:00] MMasterson commented on #51
@bishowu there isn't a way to keep track of uploads after restarting the app, but I can add the functionality and have it work like the Android implementation

[2019-08-21 01:00] MMasterson commented on #52
I'll add some examples for you @Richardson12345!

[2019-08-21 01:29] bishowu commented on #51
@MMasterson  I think the functionality is very useful, thank you.

[2019-08-21 07:11] Richardson12345 commented on #52
thx

[2019-08-21 17:25] Richardson12345 opened #53 "Create upload from image data"
i plan to be able to upload image after taking a picture from the camera where by the URL path is not attainable, is it possible to create upload with data instead of url?

[2019-08-21 18:24] MMasterson commented on #53
hey @Richardson12345 not as of now, but I'll add this in with #51 and #52

[2019-08-26 18:36] Richardson12345 commented on #52
@MMasterson  any updates for the swift example?

[2019-10-25 12:10] nikolaytsigvintsev opened #54 "Upload large files > 1GB"
Hi !

Will large file uploads > 1 GB be implemented ?

I cannot transfer a 1.5 GB file to an iPad with 1 GB free memory.

Thanks.

[2019-11-27 10:01] deeplinkage opened #57 "Upload failed if app is running in the background"
I'm using the official example for Tus iOS, uploading a file of approx. 50MB to the Tus test server. If the app is running on the screen the upload is successful.

When I start the upload after few seconds I put the app in the background, and it seems to be working for the next 15-20 seconds then it returns the error:

2019-11-27 10:57:25.797502+0100 TUSKit[22159:529437] Task <61AC3E82-19C2-411F-B

[2019-11-27 10:15] #52 closed

[2019-11-27 10:27] MMasterson commented on #57
Hey @deeplinkage

iOS’s watchdog cuts off background processes after about 20 seconds. There are a few ways around this for now since the SDK/docs need a bit of an update for direct support, if you can wait till tomorrow night I can get a better example, otherwise here are a few helpful links. Just wanted to reply since I saw this came in a few minutes ago

https://www.spaceotechnologies.com/ios-b

[2019-11-28 13:26] deeplinkage commented on #57
Thanks @MMasterson for a quick reply. I thought TusKit is using NSURLSession inside TUSSession in order to support uploads in the background. When you get time if you can provide more details that would be awesome in the meantime I will check the links you provided.

[2019-12-06 16:53] deeplinkage commented on #57
Hi @MMasterson, did you had a chance to take a look at the better example? Is this iOS 13 only issues, since the links you sent are only for iOS 13. Thanks again for your time.

[2019-12-12 14:20] deeplinkage commented on #57
Hi @MMasterson did you had a chance to take a look? I need to see If I can make this work since we upload videos so we need background upload capability. Thanks in advance.

[2019-12-18 19:21] MMasterson commented on #57
hey @deeplinkage

This is not just an iOS13 issue, it's an overall iOS issue. A common work around is enabling location services and ask for location updates in the background. And when
`func locationManager(_ manager: CLLocationManager, didUpdateLocations locations: [CLLocation])` is hit, run a `resume`.

If you have any ideas on how you'd better like this to function it'd be great to hear your i

[2019-12-23 14:02] deeplinkage commented on #57
hi @MMasterson,

I think my problem is I cannot make a background session.

`let sessionConfiguration = URLSessionConfiguration.background(withIdentifier: "identifierForBackg")
let tusSession = TUSSession(endpoint: URL(string: fileUploadUrl)!, dataStore: self.uploadStore!, sessionConfiguration: sessionConfiguration)
let upload = tusSession?.createUpload(fromFile: URL(string: documentsFilePath)!, r

[2019-12-23 15:37] deeplinkage commented on #57
BTW  - If l add location manager with regular session it works. This is just a problem if apple review would pass and if our users tap to not allow location since they are strict about location using, they present user with several pop-ups - it would not work. 

[2020-01-02 23:46] MMasterson commented on #57
hey @deeplinkage

Found an article that might help with a fix
https://medium.com/livefront/uploading-data-in-the-background-in-ios-f93722013c6a

I'll try to implement something like this over the weekend. However, this does not fix the fact that iOS13+ kills background processes after about 20 seconds. The location hack is the only way I know to get around that.

[2020-02-14 09:49] iqbalfaisal opened #58 "App will cashed during uploading in IOS"
App will cashed during uploading in IOS
![74518652-06da0080-4f36-11ea-8787-50e17c14140d](https://user-images.githubusercontent.com/46706064/74520381-3e967780-4f39-11ea-8a2a-126be1f14553.png)

[2020-02-15 22:11] Acconut commented on #58
Please provide the code to reproduce this. Also, this error seems to error in conjunction with https://github.com/vinzscam/react-native-tus-client. Can you clarify what you are doing?

[2020-02-17 06:06] #58 closed

[2020-02-18 14:14] kamendo opened #59 "Warnings in Xcode"
<img width="819" alt="Screenshot 2020-02-18 at 16 13 12" src="https://user-images.githubusercontent.com/6680528/74743819-c0541100-5269-11ea-9863-754df0bc7245.png">

Hello, is this something easy to be fixed?

[2020-02-21 12:07] git-josip commented on #51
Hi @MMasterson ,
is there any update on this one ? :)

[2020-03-27 14:02] shravanteegala opened #61 "Downloading data."
I need to download same as Uploading. How can download it.
please help me.

[2020-03-27 19:45] Acconut commented on #61
You should be able to send a GET request to the upload URL and get the uploaded data back.

[2020-03-27 19:47] MMasterson commented on #61
Are you talking about downloading a new file that you didn't upload @shravanteegala? Like a resumable file download for any file?

[2020-03-28 03:56] shravanteegala commented on #61
yes

[2020-03-30 10:13] shravanteegala opened #62 "Handling multiple file uploads"
How to retrieve downloaded file url from completed block in swift.
plz help me.

[2020-03-30 10:58] MMasterson commented on #61
You can download the file you’ve uploaded with a GET as @Acconut suggested, however any other file probably wouldn’t work for a resumable file download in its current state.

[2020-03-30 10:58] #61 closed

[2020-03-30 10:59] MMasterson commented on #62
Can you show the code you have @shravanteegala? It should be a returned parameter in the block.

[2020-03-30 11:59] shravanteegala commented on #62
var myGlobalUrl:URL? = nil
class FileUploader: NSObject {

    var upload: TUSResumableUpload?
    var tusSession:TUSSession?

    private var progressBlock:TUSUploadProgressBlock?;
    private var resultBlock:TUSUploadResultBlock?;
    private var failureBlock:TUSUploadFailureBlock?;

    var fileUploadUrl:String = "http://111.93.31.14:3001/files/"
    var fileUrl:URL?
    var fileName:String = "

[2020-03-30 12:00] shravanteegala commented on #62
In this i access the result block fileUrl for saving imapath (variable) to my local db.

[2020-03-31 04:45] MMasterson commented on #62
`fileURL` in the result block is the public uploaded file on your TUS server, if you wanna save the local file save the file you supply in the URL for `TUSFileUploadStore`. If you do some kind of editing in your TUS server after its uploaded, download the public facing URL that is supplied in the `resultBlock`

[2020-03-31 20:56] MMasterson commented on #62
Did that help @shravanteegala? Or do you need more clarification

[2020-04-02 09:11] foxware00 opened #63 "App extension support"
I'm getting` 'sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead.`

Is it possible, or, what would the best solution be?

I share my networking layer across Share Extension and my main application but am unable to compile the application when.

[2020-04-02 09:43] shravanteegala commented on #62
yes it is help to me.
But how to upload  selected multiple files . kindly help me.

[2020-04-02 10:10] shravanteegala commented on #62
above my problem clear Explanation is:

Explanation:
There is for loop which runs N times (selectedImages.count).
During each iteration, Tus(service) request is made.
It takes some time to response to the  downloaded response url.
This is an asynchronous method, so it doesn't block the execution (meaning loop continues to run and doesn't wait till the Tus(service) request completes).
When the  fil

[2020-04-02 14:30] StackHelp commented on #62
@MMasterson If we upload multiple files, Do we have to create separate sessions with separate `TUSFileUploadStore` using fileName?

[2020-04-03 12:43] foxware00 commented on #57
I'm very interested in this, are we not allowed background session configurations?
How can we handle uploads being triggered from a background service and picked up from the main app session?

[2020-04-03 21:33] MMasterson commented on #62
Ah I see the issue now. You're right this should be handled better for multiple files.

The way I see it working now is waiting until one 1 file finishes before starting the next, but that's not the most optimal for anyone.

How do you envision this working for multiple files? Any suggestions would be appreciated!

@StackHelp @shravanteegala

[2020-04-03 21:36] MMasterson commented on #63
Got it! Checking your PR @foxware00, thanks for the addition!

[2020-04-03 21:36] #63 closed

[2020-04-03 21:40] foxware00 commented on #63
Thanks @MMasterson I've been playing with this anf the pr works well, but opens another problem with background sessions. I have a local branch where I'm working through migrating the session to support delegates so I can run in the background without throwing errors. It's not quite finished, and would potentially like your input whilst I finish the pr as I'm sure there are some assumptions in the

[2020-04-03 21:49] MMasterson commented on #63
@foxware00 Just saw your comments on #57

I agree about the use of delegates and have been meaning to make the switch. I think another major change I've been toying around with is the switch over to Swift entirely, this is where I would make the change to delegates. Keep in mind when going down the background session path that iOS 13 is much more aggressive with killing tasks than ever before.

I'

[2020-04-04 07:51] StackHelp commented on #62
@MMasterson Right now the main issue I am facing is to know which files progress is this when there are multiple uploads. Let's say I have 5 files to upload right now. Now I do know that I have 5 files selected that to be upload and creates upload with `tusUpload = tusSession?.createUpload` something like this

        for file in pendingFiles  {
            tusUpload = tusSession?.createUpload(fr

[2020-04-05 01:17] MMasterson commented on #62
@StackHelp  checkout this gist and let me know if you have any suggestions or additions you'd like to add

https://gist.github.com/MMasterson/15917ac9e7f7c04ae51c58ef95a9e0a8

[2020-04-05 05:06] StackHelp commented on #62
@MMasterson Thanks for your time and the goals you set are just perfect for the new version. Just one addition if possible add `Cancel And Retry` function if any user wants to cancel the current process for a file and can easily start the new process at the same time.

I like the way you make sure that with the id we can possibly refer file progress. That's perfect. If you want any help regarding

[2020-04-05 21:23] MMasterson commented on #62
I like the addition of retry and cancel. I see those as `TUSUpload` methods, as well as functions for the `TUSClient`.

So adding

[code]

With that I changed the delegate to be return the `TUSUpload` object, so you can run these methods. You can always find the ID of an upload object with `TUSUpload.id`

[code]

Trying to write most of it today, will create a new branch and show progress by end o

[2020-04-06 02:42] MMasterson commented on #53
added in the `swift-development` branch!

[2020-04-06 02:42] #53 closed

[2020-04-06 02:44] MMasterson commented on #54
hey @nikolaytsigvintsev,

You're trying to upload an image from an iPad and getting an error, what error would that be? Sounds like you don't have enough space. The library copies the file to keep track of the data on upload

[2020-04-06 02:44] MMasterson commented on #59
Fixed in `swift-development`

[2020-04-06 02:44] #59 closed

[2020-04-06 04:46] StackHelp commented on #62
@MMasterson That's excellent. I wish I can help you. I know I don't have that much knowledge of you but definitely like to help you. This is excellent work by you.

[2020-04-06 06:09] MMasterson commented on #62
@StackHelp no worries! The branch is over at `swift-development` - feel free to chime in with any kinda PRs.

Right now we have the basic outline of files and saving status' of uploads, just working on the networking to create and actually upload to TUS and we should be good. I'll put in some time tomorrow

[2020-04-06 06:13] MMasterson opened #65 "Swift rewrite discussion"
Re writing the library in swift in the `swift-development` branch
[original gist](https://gist.github.com/MMasterson/15917ac9e7f7c04ae51c58ef95a9e0a8)

# Proposed changes for TUSKit

#### Goals
- Ditch objective-c and adopt Swift
- Change blocks to delegates
- Replicate the flow of the Android TUS library to bring synergy to TUS mobile native development
- Make it easier for multiple file uploads

[2020-04-06 06:26] #54 closed

[2020-04-06 08:25] foxware00 commented on #65
@MMasterson Just had a read over this, I'm all for a swift transition how long do you estimate this taking?

I'm going to play around and cleanup my branch for delegates and open that to see if I was going down the wrong path. I've been learning objective-c (coming from Android straight into Swift) so I may have made a few mistakes. It sounds like we'll can the objective-c delegates anyway but wou

[2020-04-06 08:47] foxware00 commented on #65
@MMasterson Another idea I had over the weekend, possibly not worth the first pass on the re-write is adding support for iOS 13 Background tasks, now that we'll be using a background session I would hope it will be a simple addition to increase the lifetime of background uploads. I don't have any experience with the API myself.

https://developer.apple.com/documentation/backgroundtasks

[2020-04-06 09:23] foxware00 commented on #63
@MMasterson opened #66. It's a pretty simple change to get this to work although there seems to be a small issue with `self` breaking the upload from continuing

[2020-04-06 10:11] Acconut commented on #65
Amazing initiative, Mark! I just have two comments

How will this impact current users? Are folks developing in Objective-C able to use the Swift version without problems? I am not sure what the current share of Swift projects is.

Also, I am wondering if and how this could impact TransloaditKit, which also uses TusKit internally.

Very good idea! Just want to add that we are currently planing som

[2020-04-06 13:35] foxware00 commented on #65
Just reading over your proposed API covered above, looks like some good improvements there I have some additional code that after successful upload I need to mark some stuff as finished on my side. Thus the `TUSResponse` or `TUSUpload` would be really useful. Something I've noted is I can have a 401 during one of the upload chunks so I need to refresh the oauth token retry, however, 401 falls unde

[2020-04-06 19:59] MMasterson commented on #65
Objective-C and Swift are able to be used with each other. The API will change though, so the only impact is users will have to use the new API.

Yes, updates will have to be made to `TransloaditKit`, that's being kept in mind - The old version of `TUSKit` will still be available so the release of Swift `TUSKit` won't kill `TransloaditKit`

Can you share those changes?

[2020-04-07 04:14] StackHelp commented on #62
@MMasterson ok. Let me check

[2020-04-07 05:23] MMasterson commented on #65
We will implement something, and provide some documentation for background tasks. Just remember iOS13 is **very strict** on background processes

I think if you set a retry, and it failes, it should retry X times before firing an error. With this new setup you can have your own retry methodology, for example

Do a TUSUpload and don't set a retry amount, then if the upload does fail out, you can fi

[2020-04-07 05:42] MMasterson commented on #32
Adding in `swift-development`!

[2020-04-07 05:42] #32 closed

[2020-04-07 05:43] MMasterson commented on #47
check #65

Custom Session configs are added!

[2020-04-07 05:43] #47 closed

[2020-04-07 05:44] MMasterson commented on #51
Addressed in `swift-development` check #65

[2020-04-07 05:44] #51 closed

[2020-04-07 05:45] MMasterson commented on #43
addressed in `swift-development` check #65

[2020-04-07 05:45] #43 closed

[2020-04-07 05:46] MMasterson commented on #35
better support being added in `swift-development` check #65

We can't fix the overall iOS issue, but do our best to counteract it

[2020-04-07 05:46] #35 closed

[2020-04-07 05:47] MMasterson commented on #62
discussion of Swift rewrite and modifications to current flow moved to #65

[2020-04-07 05:47] #62 closed

[2020-04-07 05:49] MMasterson commented on #57
@foxware00 I'll be implementing some more background support in `swift-development`

custom session configs will be able to be passed for more control over background sessions

[2020-04-07 07:07] shravanteegala opened #67 "multiple files uploads"
Thank you.
 rewrite to swift. In this  multiple file upload feature is implemented or not  ?

[2020-04-07 07:08] #67 closed

[2020-04-07 07:09] shravanteegala commented on #65
Thank you.
rewrite to swift. In this multiple file upload feature is implemented or not ?

[2020-04-07 22:30] MMasterson commented on #65
Yes. An example of how multiple files could work in this rewrite is as follows

[code]

and now the delegate methods will return a `TUSUpload` object when fired, and you can identify which upload is being referenced about by checking the id

[code]

[2020-04-08 06:28] shravanteegala commented on #65
@MMasterson .
multiple uploads we must need to asynchronous instead of synchronous. bcz synchronous operations are block the UI until it complete.

[2020-04-08 07:07] iconma commented on #65
@MMasterson
Is there a way where we can utilize upload in asynchronous form, rather than a synchronous one.
The objective of the application is to upload multiple files during the foreground or in background fashion.

[2020-04-08 07:13] MMasterson commented on #65
@shravanteegala yes, the uploads will happen async and off the main thread

[2020-04-08 07:26] MMasterson commented on #65
@shravanteegala yes of course, the uploads will happen async/off the main thread to avoid blocking the UI. However that is not something you'll have to worry about when implementing the library, it'll be taken care of behind the scenes.

[2020-04-08 08:46] foxware00 commented on #65
@MMasterson do you have your latest code, would love to have a crack at it?

[2020-04-09 05:59] StackHelp commented on #65
@MMasterson One more thing I want to share is that `TUSResumableUpload` doesn't gonna work on reboot an app as `File Directory Path` gonna change on a reboot of an app. Or Is there any solution?  🤔🤔🤔

[2020-04-11 08:41] MMasterson commented on #65
@foxware00 you can check the `swift-development` branch

@StackHelp I'm sorry, I don't fully understand your issues. Can you provide another example of your problem?

[2020-04-11 08:42] MMasterson commented on #65
Looking to wrap this up tomorrow & Sunday and hit all the points listed in the og post

[2020-04-11 08:58] foxware00 commented on #65
@MMasterson thank you. I had my own punt at migrating it to swift earlier in the week. Managed to get it all working in a similar vain to the current lib. Trying to as closely follow your proposed API. I did notice however the task of background processing is an interesting one. We'd need to chunk the file into smaller files and uploads those and the dataTask API doesn't properly run in the backgr

[2020-04-13 05:06] StackHelp commented on #65
@MMasterson Yes, Let's say when I create an upload, I have this path `/var/mobile/Containers/Data/Application/<app id>/Documents/file.json` for `file.json`.  Then let's say I paused the upload and reboot the app. On reboot `<app id>` gonna change. So, the file path for paused upload to start from that point is not gonna work as upload data can't get the correct file path now. So, do you think we c

[2020-04-14 08:01] chandu4ugandhi commented on #65
When will I get the new Swift code? @MMasterson

[2020-04-14 15:20] shravanteegala commented on #65
hi,
@MMasterson i am waiting for fully swift asynchronous multiple file uploaded TusKit library.
plz give asap.

[2020-04-16 21:26] MMasterson commented on #65
@chandu4ugandhi @shravanteegala @StackHelp @foxware00
Sorry about the delay - been a busy week over here at my day job. The library is getting close and will have it done ASAP. Just have to finish the networking side of things. Will update you over the next few days - shouldn't take much longer.

@StackHelp
We'll be saving the data with the FileManager and will be able to retrieve it with the File

[2020-04-17 04:06] sandeeppsmys commented on #65
Cool.. Appreciate your passion and commitment.

[2020-04-17 04:12] MMasterson commented on #65
Committed a bunch of stuff today relating to the chunking & networking - getting it more ironed out. Feel free to take a look in the swift dev branch.

Will do the last bits and test over the next day or so

[2020-04-18 04:58] chandu4ugandhi commented on #65
I have checked and most of the stuff completed in it but delegates and some other stuff remaining

[2020-04-19 10:36] MMasterson commented on #65
Please check the readme of [`swift-development`](https://github.com/tus/TUSKit/tree/swift-development) for what to expect from the published library. Let me know if there's anything you'd like to see or something you'd like to work differently.

[2020-04-20 12:22] StackHelp commented on #65
@MMasterson I am trying to upload with `/var/mobile/Containers/Data/Application/9457A41C-AD75-43BE-9606-2D2A3DC990D3/Documents/img_637229814909693312.heic` file path.

            let fileName = "img_637229814909693312.heic"
            let newUpload = TUSUpload(withId: fileName, andFilePathString: filePath)
            TUSClient.shared.createOrResume(forUpload: newUpload)

And I get this error `F

[2020-04-21 11:24] chandu4ugandhi commented on #65
@MMasterson when will you resolve this issue?

[2020-04-22 09:45] sandeeppsmys commented on #65
@StackHelp
Looking at the file it is trying to find, it seems that your filePath variable has the full path including the filename. filePath should have the path of the parent folder. In your case filePath="/var/mobile/Containers/Data/Application/9457A41C-AD75-43BE-9606-2D2A3DC990D3/Documents/"

[2020-04-23 03:53] StackHelp commented on #65
@sandeeppsmys `fileId` is a different thing and `FilePath`takes the path with filename as there is no other way to give filename to search path. What If I pass any random number here in `fileId` and for `filePath` just gives path of parent folder? What File it's searching then?

[2020-04-24 03:20] MMasterson commented on #65
@StackHelp @sandeeppsmys @chandu4ugandhi

Hey everyone, sorry should've been a bit more clear - the library still isn't fully finished or released, but is able to implemented manually, if you so wish. File creation is working, besides the issue @StackHelp has pointed out.

My job keeps my pretty busy during the week, but will have time this weekend. It's pretty close to done at this point, so I th

[2020-04-24 04:19] StackHelp commented on #65
@MMasterson No. I have implemented this update in one of my tasks. Let me send you the whole code for it.

Here is how I stored the selected image in the `document` directory

        for asset in withPHAssets {
            if asset.mediaType == .image {
                imageManager.requestImageData(for: asset, options: options) { [weak self] data, data_UTI, _, info in
                    guard le

[2020-04-24 04:39] MMasterson commented on #65
@StackHelp

hm.. okay, a more involved setup than just image picker. Are you 100% certain your file is being created?

From image picker I am passing an image with the path
`file:///private/var/mobile/Containers/Data/Application/74574245-8F21-4F8D-B38D-A49438E769CD/tmp/BBB0EA55-A26E-46D1-BF15-ACD67B396FBF.png` and am receiving no issues.

For context: `TUSKit` takes your file, copies it and stores

[2020-04-24 04:47] StackHelp commented on #65
@MMasterson Yes, 100% sure that file is created as my function checks whether file exists or not.

As you ask me to change id, here is what I got (same as pervious error though)

     The file couldn’t be opened because the specified URL type isn’t supported.
     TUSKit: Creating file testfile on server
     Failed to get file attributes for local path: /var/mobile/Containers/Data/Application/FAB

[2020-04-24 05:07] MMasterson commented on #65
@StackHelp

Because you get back `/var/mobile/Containers/Data/Application/FAB61A65-ACC0-41F1-8926-12F6037B2FB4/Documents/TUS/testfileimg_637229809708749184.jpeg` and not `testfile.jpeg` my hypothesis is there is most likely a problem with `filePath?.lastPathComponent` in `TUSUpload`  or second hand likely in `FileManager` - but it sounds like it's miss stripping the path for the extension.

I just

[2020-04-24 05:10] StackHelp commented on #65
@MMasterson Let me update the library and test it one more time.

[2020-04-24 05:11] MMasterson commented on #65
@StackHelp Thanks!

[2020-04-24 05:21] StackHelp commented on #65
@MMasterson Ok. This time, there is no error log found. Just got a log for "Creating file"

     TUSKit: Creating file imagetestfile on server

[2020-04-24 05:56] MMasterson commented on #65
@StackHelp

Different response than I expected, but an insight into where the problem lies. I'll take a look tomorrow. And correct, the delegates don't fire in this version. Thanks for running through that for me!

[2020-04-27 01:59] chandu4ugandhi commented on #65
@MMasterson Any news for the updates?

[2020-04-29 15:05] Geremp opened #68 "Upload to Vimeo : <TUSResumableUpload.m:(336)> Server responded to create file with 405"
Hello,

Someone try to upload to vimeo a video with TUSKit ?

I try to use it but when i upload, i get this error :

Below my code :
`NSURL * applicationSupportURL = [[[NSFileManager defaultManager] URLsForDirectory:NSApplicationSupportDirectory inDomains:NSUserDomainMask] firstObject];

    TUSUploadStore * uploadStore = [[TUSFileUploadStore alloc] initWithURL:[applicationSupportURL URLByAppendin

[2020-04-29 15:20] Geremp opened #69 "No visible @interface for 'TUSSession' declares the selector 'createUploadFromFile:retry:headers:metadata:'"
Hello,

I install TUSKit via POD.
It is Ok, but the interface TUSResumableUpload *upload = [self.tusSession createUploadFromFile:fileUrl retry:3 headers:@{} metadata:@{}]; not exist …

[2020-04-29 15:41] Geremp commented on #68
It seems this lib try to create ressource to the server before upload.
But Vimeo API create itself the ressource on the server and return an url for the file upload.

So the only thing i need it to tell TUSKIT to upload this file to this url, without create the ressource.
Is that possible ?

[2020-04-29 17:02] foxware00 commented on #68
If you pass the upload URL you mention to `createUploadFromFile` as the last param I believe it skips the creation phase

[2020-05-03 05:05] moh3nhjk commented on #65
Hi,
I try the example and when upload starts, nothing happened after it, and when I check the response, the file address says there is no file. How can I use this for test

[2020-05-03 13:25] shravanteegala commented on #65
Hello @MMasterson i want exact multipart form data sending asychrnously and receiving response asynchronously exact match urls. When it you give exact solution in IOS swift.

[2020-05-03 16:39] shravanteegala commented on #65
Hello @StackHelp.
i get this detecting Use of unresolved identifier 'TUSClient' when i set the delegate for  swift callbacks .

[2020-05-04 04:47] shravanteegala commented on #65
Hi @MMasterson  when i set Client delegate for  tus delegate methods i get TUSClient is unresolved identifier issue, when i try to found TUSClient class  no class found.
When and which version is Available TUSClient and its delegate  methods . and aslo working like multipart-asynchronous style. Please inform me asap. i am  eagerly waiting from this last 28 days .

[2020-05-04 10:39] MMasterson commented on #68
Related to #44 and #45

if you use the method `let upload = session.createUpload(fromFile: fileURL, headers: headers, metadata: nil, uploadUrl: uploadURL)` with `uploadURL` as the already created file it should solve your issue

[2020-05-04 10:42] MMasterson commented on #65
Updated the `swift-development` branch with uploading, you can pull the library into your project directly by downloading the ZIP and drawing the `TUSKit` folder into your project.

Releasing an early Cocoa Pod update to avoid manual installation.

There are still some issues, but this build should be able to handle file creation and upload. Will clean up more tomorrow and release more updates.

[2020-05-04 10:42] MMasterson commented on #69
can I see how you've implemented the library?

[2020-05-04 14:11] shravanteegala commented on #65
ok

[2020-05-04 14:45] sandeeppsmys commented on #65
Cool.. Thanks.

[2020-05-04 16:04] shravanteegala commented on #65
Hello MMasterson i pull  to swift development branch and put the setUp of TUSConfig. when i upoload the files Delegate methods are not calling. i set the. delegate to viewcontroller . but not yet calling...response either uploading..progress,success.. or failure..?

[2020-05-04 22:25] Geremp commented on #69
I can’t upload to Vimeo with this lib. So I did all the work by myself ... I remove all the lib. So I can’t show you how.

But basically :
Run pod
Then add #import.
And use the code in the example.

[2020-05-05 06:05] MMasterson commented on #69
You can upload to vimeo with the objc library using
`let upload = session.createUpload(fromFile: fileURL, headers: headers, metadata: nil, uploadUrl: uploadURL)` and uploadURL as the vimeo file url.

But no worries, if you choose to switch back to the library once a more stable swift version is released, feel free to ask any questions!

[2020-05-05 06:05] #69 closed

[2020-05-05 06:05] #68 closed

[2020-05-05 06:10] MMasterson commented on #65
Are you using the most up to date branch? 2/4 Delegates are calling in the example. You just haven't made it to any of the delegate firing, since failure doesn't call yet.

what url are you supplying for the file / and what url are you supplying in the config @shravanteegala ? `//test.iconnect.tus.iconma.in:3001/files/files/34e0be20eab28d8d394f26636112d7a6` seems like a bad address for both

[2020-05-05 06:46] MMasterson commented on #65
released an update for `TUSFailure` delegate method calls @shravanteegala in `TUSFileManager` which seems to being giving the issues

[2020-05-05 06:46] shravanteegala commented on #65
config url is :"https://test.iconnect.tus.iconma.in:3001/files"

[2020-05-05 06:55] MMasterson commented on #65
can you try `https://master.tus.io/files` - the `/files/files/` in the error message is odd, I believe it should just be `/files/`. Do you have any other clients correctly consuming this TUS server?

[2020-05-05 07:00] shravanteegala commented on #65
ok

[2020-05-05 07:07] shravanteegala commented on #65
func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after application launch.

        // https://test.iconnect.tus.iconma.in:3001/files

        var config = TUSConfig(withUploadURLString: "https://test.iconnect.tus.iconma.in:3001/files", andSessionConfig: URLSessi

[2020-05-05 07:26] MMasterson commented on #65
Any success, if not what error did you get

Also may I ask why you're using port 3001 for `master.tus.io`?

[2020-05-05 07:27] shravanteegala commented on #65
in objective-c and swift using bridging header single file is uploading find below attachment, i used same config url i used. But this swift-development version got this issue.
<img width="1454" alt="Screenshot 2020-05-05 at 12 54 33 PM" src="https://user-images.githubusercontent.com/13646977/81043465-e5066f00-8ecf-11ea-9c39-9864f8f6fb74.png">

[2020-05-05 07:31] MMasterson commented on #65
Hm... okay. Odd, let me take a look at how it's handled in the objc branch

[2020-05-05 07:31] shravanteegala commented on #65
ok

[2020-05-05 07:43] MMasterson commented on #65
@shravanteegala may I try an upload to your TUS server?

[2020-05-05 07:43] shravanteegala commented on #65
ok.

[2020-05-05 07:46] shravanteegala commented on #65
url is:
https://test.iconnect.tus.iconma.in:3001/files

[2020-05-05 08:03] MMasterson commented on #65
Thanks @shravanteegala! I found the issues!

1. After file creation, your TUS server is responding with a malformed url `://URLHERE/Files/File` instead of `https://URLHERE/Files/File`

The reason why it works in the obj-c branch is because it uses a method `URL(string: , relativeTo: BaseURL)` which corrects the issue. I have implement this method, so now that's no longer an issue.

2. The library

[2020-05-05 08:04] shravanteegala commented on #65
ok,Thank you.

[2020-05-05 08:35] MMasterson commented on #65
@shravanteegala yes fixing multiple files up now, released the patch to fix your above issues

[2020-05-05 10:21] shravanteegala commented on #65
@MMasterson .
i got below log.
TUSKit: Creating file image9 on server
TUSKit: File image9 created
TUSKit: Preparing upload data for file image9
TUSKit: Upload starting for file image9 - Chunk 1 / 1
TUS Progress 1
TUSKit: Chunk 1 / 1 complete
TUSKit: File image9 uploaded at https://test.iconnect.tus.iconma.in:3001/files/files/4cddfa40f3e7553e2d62c8ed1878525b
Success.
w'll check file is uploaded or

[2020-05-05 11:23] sandeeppsmys commented on #65
@MMasterson Hope you can fix this ASAP.

[2020-05-05 15:10] shravanteegala commented on #65
@MMasterson .
i wanna to call this delegate method for detecting uniqueid for each file.

 func TUSProgress(forUpload upload: TUSUpload, bytesUploaded uploaded: Int, bytesRemaining remaining: Int)

[2020-05-06 04:24] MMasterson commented on #65
@sandeeppsmys There is no delegate call on a successful file creation, only successful file upload. Would you like to see a call for successful file creation?  Also, we released a few patches yesterday. Can you try uploading with the most up today version of the library?

@shravanteegala yes, that is the plan. It's hard coded for one element and can only handle one file upload a time at the moment

[2020-05-07 10:30] sandeeppsmys commented on #65
Sorry was busy with something. Will try the latest version.

[2020-05-07 15:10] Geremp commented on #68
Thank you !
My bad… my pod repo wasn't update, so I hadn't the last version…
Know it's ok !!

[2020-05-07 15:11] Geremp commented on #69
Thank you !
My bad… my pod repo wasn't update, so I hadn't the last version…
Know it's ok !!

Thank you for your reply !

[2020-05-07 16:37] Geremp opened #70 "Question : Delay from 20 to 30 sec before start upload"
Hello,

I start to using this lib : TUSKit 1.4.2 in objective C.

It is working great.
But I see that i have a delay before the upload start : around 20 / 30 sec.
Do you know if it is normal ?

I am uploading to vimeo.
My android app start around 1 / 2 sec uploading.

my code :
`NSURL * applicationSupportURL = [[[NSFileManager defaultManager] URLsForDirectory:NSApplicationSupportDirectory inDomain

[2020-05-07 16:45] Geremp commented on #70
Maybe the upload start but the progress is trigger when a big part of the file is upload ( I see in my exemple after 30 sec wait, the progress was trigger from 0 to 60%.)
It is possible to change chunk size ?

[2020-05-07 23:12] Geremp commented on #70
I tested to set chunk size with : [upload setChunkSize:1024000];
I test 1Mo and 10ko
With this two, i can see my upload on the progress bar because upload.progressBlock is trigger more often.

But i see that the upload is very slow for a litte video : 3Mb, I test over wifi and 4G.
Maybe i miss some params for the session ?

[2020-05-09 06:17] StackHelp commented on #65
@MMasterson I don't know what's the issue but got this log right now

[code]

And here is the code I'm using right now

            let fileName = file.fileName
            let filePath = ATFileManager.instance.getFile(with: fileName) // 100% gets the path
            let upload = TUSUpload(withId: fileName.stripFileExtension(), andFilePathString: filePath, andFileType: ".\(fileName.fileExtension)

[2020-05-10 10:40] MMasterson commented on #65
@sandeeppsmys any luck?

@StackHelp that error is sprung from the library trying to copy the file into a folder on the device. Seems simple enough, what package are you using again?

[2020-05-10 11:13] StackHelp commented on #65
@MMasterson The same one I told you before `TLPhotoPicker`

[2020-05-11 09:36] shravanteegala commented on #65
@MMasterson , when you completed above Specification - pragma-mark multi-files uploads.?

[2020-05-14 12:09] shravanteegala commented on #65
@MMasterson  i implemented tusupload single file at a time using swift. file  Uploaded Successfully. and got response url.  in normal post request we are waiting until response is coming then send that respose url using closures . But when we use tusUpload send the image to server before complete the upload file, i got nil response . how i can wait till delegate is finished within the method body.

[2020-05-14 14:37] shravanteegala commented on #65
@MMasterson  I implementing singleFile using tusUpload is swift. but i need to upload multiple files. when i try to send multiple files the url is replaced by last one due to the replacing and delay of response. so i got same images(files) to send selected count.

[2020-05-16 07:38] chandu4ugandhi commented on #65
@MMasterson will you resolve the issue of @StackHelp and push the final code of Swift today?

[2020-05-16 09:52] MMasterson commented on #65
apologies @StackHelp, this thread has grown very large and it was hard to find the package name.

@chandu4ugandhi @StackHelp @shravanteegala A new version will be released this weekend, addressing multiple files and @StackHelp's issue with paths.

[2020-05-16 09:55] MMasterson commented on #70
hey @Geremp!

I will implement `Vimeo` uploading to the next update this weekend for the swift version and test upload speeds to make sure they're faster than v1

[2020-05-16 10:16] chandu4ugandhi commented on #65
Actually I am waiting for the last 1 month for the @StackHelp issues to be resolved. I am sure this weekend all the issues would be resolved.

[2020-05-16 10:30] Geremp commented on #70
Ok gréât. Let me know when it is working.
I change the chunksize to 1.5Mb and it is fine. Not good but fine :-).

Cordialement,

Jérémie PERERA

[2020-05-16 11:16] StackHelp commented on #65
@MMasterson No need to apologies bro. I understand your situation. Thanks for this much effort :)

[2020-05-22 16:21] Geremp opened #71 "Issue when upload to Vimeo : TUSKit say success but vimeo waiting upload"
Hello,

It is an issue I have, I wanting to know if you get this issue too…

I have uploading a video with TUSKit.
TUSKit block result is trigger, but Vimeo is still waiting the upload.

I asked Vimeo to see if if the problem is on their side.
But if someone have this issue… an help will be good :)

Is that possible that success block was trigger but to say that video is not upload ?

[2020-05-25 03:08] chandu4ugandhi commented on #65
Hello Mark, did you resolve the issue? Will you push the final code now?

[2020-05-25 07:14] MMasterson commented on #65
You can manually install the library to try out multiple file uploads, included in current commit is a `TLPhotoPicker` example.

[2020-05-26 04:15] shravanteegala commented on #65
I already worked on TLPhotoPicker using latest commit. but not worked on that.

[2020-05-26 04:20] StackHelp commented on #65
@MMasterson I got the same error with this update as well.

       URL: file:///private/var/mobile/Containers/Data/Application/ED57AC20-29B6-4CD9-8CB2-6C9D6B6D1D89/tmp/4ac98994-c304-47fc-b4c7-58fef1e370f2.jpg, STR: image/jpeg
      TUSKit: Creating file img_637260632099908480 on server
Failed moving file file:///private/var/mobile/Containers/Data/Application/5DFFD609-D987-4D75-88E6-4347BE1C8D5E/tm

[2020-05-27 06:08] MMasterson commented on #65
`TLPhotoViewController.swift` should cover an implementation of the two libraries, I'm unsure of what is different. @chandu4ugandhi is sending me some code so I can see where the disconnect is, will report back once I take a look.

[2020-05-27 15:27] shravanteegala commented on #65
Its Working fine for images.😀

But when i choose video's 🎥
I am using below code some times getting asset values some times getting nil.
what is the issue here? how can i do ?

  PHImageManager.default().requestAVAsset(forVideo: mPhasset, options: options, resultHandler: { (asset, audioMix, info) in
                if let urlAsset = asset as? AVURLAsset {
                    let localVideoUrl = ur

[2020-05-28 05:12] MMasterson commented on #65
@shravanteegala thank you for pointing that out! Working on a patch for other file types, will report back what the issue was and why it was triggered.

[2020-05-31 02:10] hudsonhooper opened #72 "Custom head and chunck size."
In order to upload my files I need to add some credentials to the header however I can't seem to find out how to do this. I'm looking for whatever the equivilent is to --header in the terminal. Similarly I'm looking to change the chunk size similar to --chunck-size. Is there any way to do this using TUSKit?

[2020-05-31 02:31] #72 closed

[2020-06-04 07:59] shravanteegala commented on #65
Hi MMasterson.
When App background uploading mode App is crashed.
<img width="1613" alt="Screenshot 2020-06-04 at 1 26 06 PM" src="https://user-images.githubusercontent.com/13646977/83730957-6a17ac00-a667-11ea-866a-8e812cc5fde1.png">

[2020-06-04 08:04] MMasterson commented on #65
hey @shravanteegala

A new version was just uploaded - can you update. I don't think it'll fix your issue just yet, but just to stay up to date.

What is at line 2460 on ChattingViewController?

[2020-06-04 09:36] MMasterson commented on #65
@chandu4ugandhi @StackHelp please update

try using
`TUSUpload(withId: id, andFilePathURL: file, andFileType: "type" )`

if you get an error, please try wrapping the file url with `URL(fileURLWithPath: String)`

If error persists, please let me know. You can still upload via data for now

`let upload: TUSUpload = TUSUpload(withId:  String(number), andData: fileData, andFileType: "jpeg")`

You can

[2020-06-09 10:31] shravanteegala commented on #65
Can you give me updated version number.

[2020-06-10 22:45] Geremp commented on #70
Hello @MMasterson ,

Did you implement Vimeo upload in Swift TUSKit release ?
I am using your objective C version.

I have some problem : Sometimes, my app block during the upload, i have to relaunch it, and the upload resume.

I implement your TUSKit in :
@interface Vimeo_uploader_tus : NSObject<NSURLSessionDelegate, NSURLSessionTaskDelegate>

Do you think that iOS Session can stop if the upload

[2020-06-17 10:59] atomic991 opened #73 "Attempting to store >= 4194304 bytes of data in CFPreferences/NSUserDefaults on this platform is invalid"
Hi,

I am using new swift lib for this awesome project but I am getting error when trying to store data in UserDefaults. So if we have video of 100MB do we really want to store that in user defaults? Is there any workaround for this issue?

Issue seems to be in TUSClient.swift on line 88 where it says:
try UserDefaults.standard.set(Data(contentsOf: path), forKey: tusName)

Thanks and keep up the g

[2020-06-18 03:03] Lius1104 opened #74 "Why use UserDefaults store data"
I saw that the previous issue mentioned that FileManager is used to read sandbox files, and why userdefaults is used now.

Our app use scenario is to select up to 55 resources (pictures, videos, documents) at a time, of which the document size is limited to 100m and the video length is not limited. Is our app really suitable for using userdefaults to store the files to be uploaded?

In the demo of

[2020-07-27 07:49] Acconut commented on #65
@MMasterson Just wanted to ask if there are any updates on the Swift version? :)

[2020-07-30 23:18] crcunningham opened #75 "Uploads cancelled right after being created on macOS"
Looking at this commit: https://github.com/tus/TUSKit/commit/aad200876a80a8b48b4dcb366195290a58d73d8e

I see this code a few times:

[code]

It looks like this is some sort of copy+paste error. Can you confirm?

[2020-08-03 16:26] MMasterson commented on #75
In the current master branch? Hm, yeah - let me take a look

[2020-08-03 16:28] MMasterson commented on #65
Yes sorry, will commit some updates this week. My main gig has been pretty busy. PRs are always welcome!!

[2020-08-03 16:30] MMasterson commented on #75
closed in #76

[2020-08-03 16:30] #75 closed

[2020-08-15 10:12] BasavarajIOS opened #77 "How to get url of a uploaded mp4 files?"
@MMasterson I have integrated Swift TUSKit in our project. We are able to upload the mp4 file and got url from httpResponse.allHeaderFields["URL"] (TUSExecutor file) without the .mp4 extension(like https://s3.ap-south-1.amazonaws.com/ans.video.input/transcode_input/video2020.2020/8/15/video2020_08_15_03_18_13_5370_1597484905). Without extension we are not able play the video.   Please help me find

[2020-08-21 08:38] Acconut commented on #77
@MMasterson Could you help here? :)

[2020-09-08 03:14] realityworks opened #78 "Not available as SwiftPackage"
Please add as a library to the SwiftPackageManager, so we no longer need the pod.

Thank you.

[2020-09-17 19:48] jsahoo commented on #65
@MMasterson how do you specify custom headers and metadata for the upload?

I found this in the [docs for the Objective-C version](https://github.com/tus/TUSKit#tusresumableupload), but not seeing anything in the new [Swift docs](https://github.com/tus/TUSKit/tree/swift-development#swift-rewrite-of-tuskit)

`TUSResumableUpload *upload = [self.tusSession createUploadFromFile:fileUrl retry:3 headers

[2020-09-20 05:14] YazilimTuneli commented on #65
After the first file upload, I could not upload again and I found the reason for this.
upload.status = .ready
It should be done this way after every successful installation.

[2020-09-29 06:26] MMasterson commented on #78
Will do!

[2020-09-29 06:28] MMasterson commented on #77
@Acconut @BasavarajIOS

Appending a .mp4 to the file will make it playable. @Acconut does the TUS protocol omit extensions?

[2020-09-29 06:30] MMasterson commented on #74
Switching back to file storage in the next update. UserDefaults did not hold up.

[2020-09-29 06:31] MMasterson commented on #73
Switching back to file storage in the next update. We originally switch to UserDefaults to help some early adopters, but it did not hold up.

[2020-09-29 06:31] MMasterson commented on #65
@jsahoo There isn't one currently, but can add to the next release.

[2020-09-29 08:37] Acconut commented on #77
The protocol itself does not specific how the upload URL should be formed. This behavior can freely be chosen by the tus server that is used.

[2020-10-08 08:12] atomic991 commented on #73
@MMasterson Thanks for the feedback, any info when this could be resolved?

[2020-10-11 02:31] MMasterson commented on #73
@atomic991 just published 2.1.0, this includes switching back storage of temporary files to the local file system. This should resolve your issue

[2020-10-13 18:06] MMasterson commented on #65
@jsahoo custom headers are in the `2.1.0`

[2020-10-13 18:12] jsahoo commented on #65
Thanks!

[2020-10-22 04:43] #73 closed

[2020-10-22 04:43] MMasterson commented on #73
@atomic991 let me know if you're still having issues here.

[2020-11-09 17:36] sripberger commented on #65
I'm seeing that all the signatures for `TusUpload` require you to specify an id. Is there no planned support for allowing the server to generate an id, as specified here

 https://tus.io/protocols/resumable-upload.html#creation

[2020-11-09 19:36] MMasterson commented on #65
@sripberger there are plans to bring back support for an already created file/id. I have some early support code for it I need to clean up and test a bit. Are you trying to upload to Vimeo or your own TUS instance?

[2020-11-10 15:58] sripberger commented on #65
We are trying to upload to our own tus instance, which happens to be `tusd`.

What I'm getting at is not re-using an already-created file id, but the Create extension, where you make a POST to the root of the TUS endpoint, and it gives you back a Location header which contains an ID generated by the server.

[2020-11-10 16:07] sripberger commented on #65
So, talking with my co-worker it looks like we're talking about two different things. The ids provided to the TusUpload signature seem to be internal to the client, and don't line up with the upload id used to track the file on the server (i.e. the last term of the upload path).

Is there any way to get that server-side id after an upload completes?

[2020-11-14 02:03] MMasterson commented on #65
@sripberger yeah we can definitely fix that up. I'm curious as to what ID TUSD uses instead of the one supplied by the client. I see that we're sending the ID to TUSD is base64, could that be the culprit of id's not matching?

cc'ing @Acconut here as well

[2020-11-15 21:00] sripberger commented on #65
The id the server uses is generated with this:

https://github.com/tus/tusd/blob/master/internal/uid/uid.go

I'll try to clear up some confusion, though. The situation is that we have the server set up to create a database entry for a completed upload. The client then needs the id of this database entry in order to proceed with further operations on the file-- associating it with other database en

[2020-11-19 16:11] Acconut commented on #65
Exactly, that's all correct from tusd's point of view :) I cannot comment on TUSKit's part though.

[2020-11-30 14:13] andreaslindahl commented on #65
I also noticed this, and for now have to manually set status to .ready for each upload

[2020-12-03 17:59] MMasterson commented on #65
@andreaslindahl I believe I had patched this in an updated version of the library, but maybe I am mistaken. Can you check what version of the library you're using?

[2020-12-09 15:06] deeplinkage commented on #65
What if we have dynamic upload URLs? I see upload URL is set in config in AppDelegate, but what if actually I want to do this inside Controller after I get response from API which contains my upload URL.

[2020-12-09 16:28] andreaslindahl commented on #65
You can create the config anywhere and don't have to do it in your AppDelegate

[2020-12-09 16:29] andreaslindahl commented on #65
I'm using version 2.1.5.alpha

[2020-12-10 15:15] deeplinkage commented on #65
Hi @andreaslindahl, I understand that but...

`TUSClient.shared.delegate = self `

This gets called on the initial ViewController, and inside TUSClient:

[code]

Here we error out because config is not yet set.

[2020-12-10 23:38] MMasterson commented on #65
@deeplinkage @andreaslindahl, I recommend putting the config in the app delegate. You'll need to set a URL there, however, you can change the upload URL at anytime using `TUSClient.shared.uploadURL = URL(string: "")`

For the next release we could add a better solution, such as adding property to the TUSUpload class that overrides the `uploadURL` that is currently set on the TUSKit singleton

[2020-12-10 23:45] MMasterson commented on #74
Switched back to file manager

[2020-12-10 23:45] #74 closed

[2020-12-28 08:11] nthrussell opened #81 "Cant find pause option in master"
I was trying to create a button for pause action but its not there. What is the case for pause now please ?

[2020-12-29 19:39] justin-workjam opened #82 "Chunk size is ignored"
It appears that the chunkSize property on the TUSClient class is not actually being used. Looking at the code, I see that TUSExecutor line 73 uses a hardcoded value of 20000 for the chunk size.

[2020-12-30 10:55] MMasterson commented on #82
@justin-workjam thank you for pointing this out! I'll get this fixed up today

[2020-12-30 10:59] MMasterson commented on #81
Syntax would be `.cancel()` but seems I overlooked this, my apologies, will add in tomorrow!

[2020-12-30 11:42] nthrussell commented on #81
Thank you for the response.

Yes I checked the `TusClient.shared.cancel()` option as well, its not complete yet. I could guess it cancel the current upload. But I was more interested in `TusClient.shared.pause()` option. Pause and resume is what I was looking for into this library. If that works that would be great for us. Thank you again

[2021-01-03 10:49] MMasterson commented on #81
@nthrussell apologies been a bit busy with the new year, back to normal tomorrow

[2021-01-07 06:25] MMasterson commented on #82
closed with #83

[2021-01-07 06:46] #82 closed

[2021-01-27 11:19] DevGirisankar opened #86 "Getting error "don't have permission to access 'TUS'""
Was trying to upload file to vimeo
tried using picker and tried using bundle file, but getting the same error

TUSKit: File not found in local storage.
Failed moving file file:///private/var/containers/Bundle/Application/562FC6BC-2C37-4753-93DC-B133CF566A0D/TUSKit_Example.app/test.mp4 to /var/mobile/Containers/Data/Application/32688A85-6D05-4F0B-BE18-DF34852DB478/Documents/TUS/video66.mp4 for TUS

[2021-02-20 02:20] MMasterson commented on #86
hey @DevGirisankar are you still having issues? Or have you figured this out?

[2021-02-20 02:21] MMasterson commented on #78
#79 Closes

[2021-02-20 02:21] #78 closed

[2021-02-20 02:24] MMasterson commented on #81
version `2.0.0` should close this one out!

[2021-02-20 02:24] #81 closed

[2021-02-20 03:53] nthrussell commented on #81
Thank you very much @MMasterson

[2021-03-03 18:17] dfmarulanda opened #94 "1.4.2 -> 2.0.0 Migration"
I've been trying to upgrade from 1.4.2 to 2.0.0. The project had a lot of changes, both, in how it's implemented on the backend and how you use it on iOS. I decided to keep 1.4.2 as the new version have almost no documentation and the different methods (like using headers and retries) are almost at scratch. I'll have to get some time to read the new code and understand what are you trying to do to

[2021-03-03 19:17] hannojg commented on #77
This PR: https://github.com/tus/TUSKit/pull/95 will fix the issue

[2021-03-03 19:22] hannojg commented on #57
I think this will be fixed with the release of `2.1.0`. However, it won't guarantee that everything in the queue will be uploaded while the app is in the background. To make sure that everything in the queue gets uploaded we could write a new background mode, which will upload the file not using `data` but write the chunks to files first, and uploads these chunk files using https://developer.apple

[2021-03-03 20:15] MMasterson commented on #77
fixed in #95 - thanks @hannojg !!

[2021-03-03 20:15] #77 closed

[2021-03-03 20:24] MMasterson commented on #94
hey @Dfmarulanda

There are a lot of open PRs to move the project forward and get it past the current state thanks to @hannojg - hoping to have all these merged and released by the weekend. After theses PRs are merged in I will update the README accordingly, and I can write up a migration guide from 1.4.2 to 2.1.0.

[2021-03-03 20:28] #65 closed

[2021-03-03 20:30] Dfmarulanda commented on #94
It would be great! Indeed, after migrating I can try to contribute to the project a little bit. I'll be waiting for the upcoming release!

[2021-03-05 01:08] dannypier commented on #86
I'm intermittently seeing this issue as well. It seems to happen if I stop my app (during development) in the middle of an upload. Future uploads begin triggering this error. Happy to provide more info/debugging support.

[2021-03-06 07:08] hannojg commented on #86
@dannypier can you try whether it still happens when installing the TUSKit pod from this dev branch:
[code]

this contains all changes from https://github.com/tus/TUSKit/pull/90 and the other unmerged PRs I put up.
In these changes, background handling has been properly implemented (and they will be made available soon in a 2.1.0 version, having some testing here before creating the release would

[2021-03-25 19:02] MMasterson commented on #94
hey @dfmarulanda

the new version is live and I'll have a migration guide up for you this weekend with updated docs!

[2021-03-26 04:00] MMasterson opened #98 "Add app extension support"
Uploaded asset is shared with a message on the user's account.

[2021-04-14 08:38] andreaslindahl opened #102 "Cannot find type 'UIApplication' in scope"
I'm using TUSKit (2.1.0) via Swift Package Manager and am suddenly getting some compilation errors in TUSClient.swift, such as "Cannot find type 'UIApplication' in scope". If I use the swift-development branch instead everything compiles just fine.

There seems to be a missing `import UIKit` in the  TUSClient in the 2.1.0 version I'm using.

[2021-04-16 22:28] r-a-o commented on #57
Hi, is background upload support part of 2.1.0?

[2021-04-16 22:29] MMasterson commented on #57
@r-a-o yes, it is available in 2.1.0!

[2021-04-22 20:08] TimoSeeberger opened #103 "Bug in Upload cancel"
Hello, I am using TUSKit 2.1.0. I am pretty sure there is a bug in the Swift code for canceling an active upload.
TUSExecutor.swift, line 222: **if task != nil** should be **if task == nil**
Best regards
Timo

[2021-04-23 05:56] hannojg commented on #103
Yeah, good catch https://github.com/tus/TUSKit/pull/104

[2021-04-23 06:40] MMasterson commented on #103
Fixed in #104 - will release this weekend

[2021-04-23 06:43] MMasterson commented on #102
Hmm, #100 should've fixed this. Do you know where the missing import is? If not can look for the missing import and add it to the next release this weekend

[2021-04-23 07:26] andreaslindahl commented on #102
I think there should be a UIKit import in TUSClient.swift ?

[2021-04-26 19:32] aravasio commented on #94
Any updates on this migration guide from 1.4.2?

[2021-04-30 18:35] jerrybracegit opened #106 "File not found in local storage"
TUSClient > createOrResume is returning false for the fileManager.fileExists check - even though the file is in the TUS directory. Is there a known bug related to this?

[2021-04-30 18:47] MMasterson commented on #106
Hey @jerrybracegit what version are you running?

[2021-04-30 18:51] jerrybracegit commented on #106
@MMasterson thanks for the quick reply. I was stuck on this for about 3 hours and it was resolved by uninstalling my app and reinstalling. Must have been a weird file structure issue. Thanks again.

[2021-04-30 19:02] MMasterson commented on #106
No problem, glad it was fixed up! We'll take a look to see if anything funky is going on just in case.

[2021-04-30 19:03] #106 closed

[2021-07-08 19:55] Deepak3097 commented on #103
Hi @MMasterson, i am facing a similar issue, where videos are not getting cancelled or paused.
Using this for `TUSClient.shared.cancel(forUpload: uploadObject)` for cancelling, and `TUSClient.shared.pause(forUpload: uploadObject)` for pause. Is this bug fixed and released?

[2021-07-08 20:11] Deepak3097 opened #107 "Bug in handleUploadSuccess() in TUSExecutor"
Hello, i am using TUSKIT version 2.1.0, facing an issue where i have paused an upload, and started another upload.
Once the 2nd upload is completed, the paused one also starts uploading automatically.

On debugging found this in `handleUploadSuccess()` ->

`// Run next task for uploading, when there are any.
  if continueUploading() {
       let pendingUploads = TUSClient.shared.pendingUploads()

[2021-07-13 11:27] TaroofSun opened #108 "Support concurrency"
Excuse me, do you support concurrency? I want to send multiple documents together.

[2021-07-15 19:16] dfmarulanda commented on #94
Hello?

[2021-07-24 00:23] ccparram commented on #94
I would love to see that migration guide!

[2021-07-24 00:26] dfmarulanda opened #109 "Is this library still being maintained?"

[2021-07-26 21:28] Acconut commented on #109
Yes, although the answer to this question is not clearly cut as we would like. Right now, we are in the process of switching the maintainer of TUSKit over to a new person, which will start contributing to TUSKit at the beginning of September. In the meantime, we will still try our best at answering questions, but code contributions will pick up in a few weeks again! So stay tuned :)

[2021-07-26 21:56] Acconut commented on #108
I haven't tested it personally yet, but you should be able to create multiple `TUSUpload` instances in parallel and then invoke `TUSClient.shared.createOrResume(uploadObject)` on the corresponding ones to upload them concurrently. Let us know if this does not work, so we can fix it :)

[2021-07-28 22:25] Acconut commented on #94
Apologies for the delay! We are currently waiting for our new maintainer to begin working on TUSKit at the beginning of September. I am afraid we have to wait with an update until then as I don't know any Swift :)

[2021-08-20 07:17] fakerlogic opened #110 "Lack of merging custom headers when checkForResumableOffset"
My upload headers need token, when it goes there, I get the the 401 response

[2021-08-20 07:27] fakerlogic commented on #110
`
  func checkForResumableOffset(uploadUrl: URL, callback: @escaping ((Int?) -> Void)) {
        var headRequest: URLRequest = URLRequest(url: uploadUrl)
        headRequest.httpMethod = "HEAD"
        headRequest.addValue(TUSConstants.TUSProtocolVersion, forHTTPHeaderField: "TUS-Resumable")

        for header in customHeaders {
            headRequest.addValue(header.value, forHTTPHeaderField: h

[2021-09-06 23:15] yunustek commented on #86
Hi I'm using v2.1.0 but the issue still continues. Error is that:

[code]

[code]

[2021-09-08 13:56] nikolay-kapustin commented on #109
Do you have any news about the new version of TUSKit?

[2021-09-09 10:15] tjeerdintveen commented on #109
Hi, I just started as a new contributor.

I will investigate releasing the current status. Is there anything in particular you wish to see ?

[2021-09-09 10:52] tjeerdintveen commented on #109
I just made a new release, 2.2.0
https://github.com/tus/TUSKit/releases/tag/2.2.0

Let me know if you need anything, I will close this issue. But feel free to reopen for any questions.

[2021-09-09 10:52] #109 closed

[2021-09-09 17:33] dfmarulanda commented on #109
@tjeerdintveen thanks! Implementation and documentation by now is so poor; I think an entire rework will be needed, as the way recurrence requests were implemented can lead to leaks. I've done some work to improve that, and I'll send you a PR if you're going to use the same base code. But I was tempted to make my own implementation from scratch because there are many codebase problems.

[2021-09-09 17:37] tjeerdintveen commented on #109
I am planning to rework it, starting with internals, giving it a mature testing suite. Simultaneously I will add documentation. I only just began but expect improvements to come. 😊

What do you mean by recurrence requests specifically? I'll keep an extra eye out for that

[2021-09-09 17:58] dfmarulanda commented on #109
You know that TUS protocol sends chunk requests; so a request must call the
following; current implementation uses a non-safe way of calling self in
every request; in addition, it doesn't, send the last request as expected,
cuz it doesn't wait for the TUS Server answer, but instead just send all
the request without knowing if the last one was successful; I had to rework
that for my implementation

[2021-09-09 18:02] tjeerdintveen commented on #109
I see, so I am planning for a rewrite to try and squash these bugs. I'll be sure to make sure I don't reintroduce bugs like these. Thanks for letting me know.  It sounds like it would be better to check if one request finishes. But on the other hand, supporting parallel uploads is also an option I believe. I'll investigate.

[2021-09-13 11:34] tjeerdintveen commented on #110
Hi thanks, I am new at TUS and starting a rewrite of the SDK. I will look into this requirement.

[2021-09-15 07:23] yo113 commented on #108
I have created multiple TUSUpload instances in parallel and invoked TUSClient.shared.createOrResume(uploadObject) but it uploads sequentially one after other and not parallelly.

[2021-09-15 07:25] tjeerdintveen commented on #108
Hi, new contributor here. Yeah it's because everything is made with a singleton that controls the way uploading is handled (1 by 1). I am in the middle of a rewrite where I will address this issue (no singletons) and allow for concurrency.

[2021-09-23 11:09] tjeerdintveen commented on #102
The latest release has the import UIKit lines, should be solved now (I inherited the project but seems fine). Please reopen if you still have issues.

[2021-09-23 11:09] #102 closed

[2021-10-05 11:41] tjeerdintveen commented on #110
If you'd like, you can explore the rewrite PR. See if the custom headers work as you like.
https://github.com/tus/TUSKit/pull/114

[2021-11-01 00:19] tgreco commented on #25
@MMasterson how would you add this to an objective C library? #import "TUSKit.h" fails to work.

[2021-11-30 10:34] avbikk opened #116 "Is remaining bytes really remained or it is a total value of bytes?"
The formula: uploaded/total shows real progress. The formula: uploaded/remaining doesn't make any sense if remaining is the remained number of bytes. It should be uploaded/(uploaded+remaining).

So, what is the right:
1) here is the incorrect naming
2) or the formula should be like uploaded/(uploaded+remaining) ?

https://github.com/tus/TUSKit/blob/7901b99a2c923756c8d41300f40cf70572555c9f/Example/

[2021-11-30 13:04] Acconut commented on #116
Good catch, I think this option is correct indeed.

[2021-11-30 13:14] tjeerdintveen commented on #116
Yeah I think you're right.  And besides that, there is more ambiguity when uploading (e.g. what do you count as the start, complete start or a resumed start? What if you add files while uploading? etc.

In the new upcoming version I document it here:
https://github.com/tus/TUSKit/blob/rewrite%2Fstart/Sources/TUSKit/TUSClient.swift#L25

[2021-11-30 13:35] tjeerdintveen commented on #116
I looked, the behavior is correct but the naming is wrong.

`bytesRemaining` is actually the total bytes.
https://github.com/tus/TUSKit/blob/master/TUSKit/Classes/TUSClient.swift#L334

I could rename the parameter, but that would cause a small minor migration. Instead I'd recommend to use the updated client if that's okay.  Please let me know if this is alright with you.

[2021-12-01 08:25] avbikk commented on #116
TUSClientDelegate is perfectly fine, thank you for the explanation!

[2021-12-01 08:25] #116 closed

[2021-12-02 12:58] dj4385 opened #117 "Query - Can i upload the 10gb file using TUS in post method."
How can i upload the more than 10gb video fill to server by REST API Post method using TUS library?

[2021-12-02 18:17] tjeerdintveen commented on #117
Hi the 3.0.0 pull request uses FileHandle which supports large files. I haven't tried 10gb but you can try it for your use-case. Let me know if you need any help!

[2021-12-03 04:45] dj4385 commented on #117
Hello according to stackoverflow:
https://stackoverflow.com/questions/2880722/can-http-post-be-limitless#:~:text=The%20POST%20method%20itself%20does,on%20the%20size%20of%20data

Browser have some limited memories around 5gb. Let me check upload using TUS library on demo. Is it work on not.

[2021-12-13 07:44] tjeerdintveen commented on #117
I also realized that we do copy files locally so that we can continue uploading (regardless of the original file was temporary or not). But for extremely large files we may need to support a "do not copy" flag.  But let me know how the demo goes!

[2022-02-03 11:09] TDMNS opened #118 "How get upload link?"
Hey! Eight days ago I used your library, I put the emphasis on the eight, since the release 3.0.0 was released 7 days ago.
I'm having a problem getting a link to an object to load.
Should it be received after executing the TUSClient.shared.createOrResume(forUpload: uploadObject) method, in the field uploadObject.uploadLocationURL?
The link is visible in the console, but the uploadObject.uploadLoca

[2022-02-11 08:32] elvirion commented on #103
I'm closing this issue, because it has been fixed in version 2.2.0

[2022-02-11 08:32] #103 closed

[2022-02-11 08:33] elvirion commented on #108
I'm closing this issue. Support for concurrency is added in version 3.0.0

[2022-02-11 08:33] #108 closed

[2022-02-11 08:36] elvirion commented on #94
I’m closing this issue because it has been inactive and we've recently released 3.0.0.

[2022-02-11 08:36] #94 closed

[2022-02-11 08:38] elvirion commented on #57
I’m closing this issue because it has been inactive.

[2022-02-11 08:38] #57 closed

[2022-02-16 20:32] Acconut commented on #118
Maybe @elvirion can help. Otherwise I would ask you to upgrade to v3 since we are not able to support earlier versions anymore.

[2022-02-21 07:44] Deepak3097 opened #119 "Chunk size updation."
Hi,
Is there anyway we can update the Chunk size without making changes in the library?? @Acconut

[2022-02-21 11:39] Deepak3097 opened #120 "Cancelling a single upload"
Hi,
In the latest release of TUS, i cannot see an option to cancel a single upload data. `stopAndCancelAll` -> This cancels all ongoing uploads.

[2022-02-21 11:39] Deepak3097 commented on #120
@Acconut @elvirion

[2022-02-21 11:40] Deepak3097 commented on #119
@Acconut @elvirion

[2022-02-22 11:14] elvirion commented on #118
Hi @TDMNS, I've joined @ 3.0.0, so I'm afraid I can't help with versions before that. With 3.0.0 you can add the url to the context which you'll receive back, per task (UUID), when you call `start` on the client.

[2022-02-22 11:24] elvirion commented on #120
Hi @Deepak3097,

That's correct. At the moment there's no option to cancel a single upload. I will look into adding this soon. As a work around you can call `stopAndCancellAll` then `removeCacheFor(id:)` which removes the file and metadata for the specified task (uuid) and then call `start` to continue the remaining uploads.

Hope that helps

[2022-02-22 11:28] elvirion commented on #119
Hi @Deepak3097,

At the moment it's not possible to update the chunkSize. However, we could look into adding this as an argument in the `TUSClient` initializer with the current `chunkSize` as a default value. Would that help?

[2022-02-22 11:39] elvirion commented on #110
I'm closing this issue. Support for customHeaders is added in version 3.0.0

[2022-02-22 11:39] #110 closed

[2022-02-22 11:48] Deepak3097 commented on #119
HI @elvirion ,
Yes that would help as well.

[2022-02-22 11:53] Deepak3097 commented on #120
Hi @elvirion,
Actually the workaround suggested can lead to more issues at our end because we have pause/cancel of single uploads implemented. And restarting all the remaining uploads can start uploads that were paused on user action as well.

Having a mechanism to pause/cancel single uploads and resuming single uploads could really help.

[2022-02-22 12:07] elvirion commented on #70
I’m closing this issue because it has been inactive. We've recently released 3.0.0.

[2022-02-22 12:07] #70 closed

[2022-02-22 12:08] elvirion commented on #71
I’m closing this issue because it has been inactive. We've recently released 3.0.0. Feel free to open a new issue if this issue remains on version 3.x.x.

[2022-02-22 12:08] #71 closed

[2022-02-22 12:09] elvirion commented on #86
I’m closing this issue because it has been inactive. We've recently released 3.0.0. Feel free to open a new issue if this issue remains on version 3.x.x.

[2022-02-22 12:09] #86 closed

[2022-02-22 12:10] elvirion commented on #107
I’m closing this issue because it has been inactive. We've recently released 3.0.0. Feel free to open a new issue if this issue remains on version 3.x.x.

[2022-02-22 12:10] #107 closed

[2022-02-22 12:14] elvirion commented on #120
Hi @Deepak3097,

Thanks for your quick response. I understand your problem and I will look into it soon and get back to you asap.

[2022-02-22 12:50] Deepak3097 commented on #120
Thank you @elvirion, and it would really help if you could tell me when the next release would be available??

[2022-02-24 11:59] elvirion commented on #119
@Deepak3097 I've just merged the change https://github.com/tus/TUSKit/pull/121

After I've added your request of https://github.com/tus/TUSKit/issues/120 I will make the new release ;). I expect to release within 1-2 weeks

[2022-03-17 11:25] luzianscherrer opened #123 "How to use this library Objective-C project?"
I'm trying to use this library in a Objective-C project but I haven't managed to get it working. Could you please help me out what exactly to ```@import``` or ```#import```? Do I need to generate bridging headers?

[2022-03-17 14:29] elvirion commented on #119
Hi @Deepak3097, I've released 3.1.1 that includes your request.

[2022-03-17 14:29] #119 closed

[2022-03-17 15:07] elvirion commented on #120
Hi @Deepak3097, I've released 3.1.1 that includes your request.

[2022-03-17 15:07] #120 closed

[2022-03-17 15:08] #118 closed

[2022-03-17 18:28] Zmetser opened #125 "swift-development branch is so far behind"
Contribution guide says PRs should point to the `swit-development` branch. But that branch was last updated 11 months ago.

https://github.com/tus/TUSKit/blob/master/.github/CONTRIBUTING.md?plain=1#L6

I think that branch should either be kept in sink with the latest release, or that line should be removed from the contribution guide

[2022-04-13 16:30] spatialbits opened #127 "Background uploads do not appear to work"
I am a Flutter developer integrating TUSKit into our app and having difficulties getting background uploading to work.

So I am attempting to run the example app just to observe the background capability, but it looks like it only runs while the app  is in the foreground.

Running the TUSKit Demo app using [latest master](bc7e3c17febd503b26a3619b757d9644f505f047). The log output below is the resul

[2022-04-25 13:45] foxware00 opened #128 "Background URL session support"
I see we've got a new version using background support in iOS 13 and higher. However you cannot use background url sessions, something of a requirement if you're starting uploading in a share extension and then picking up where you left off in the main app.

Some of the old issues which were resolved, but have since been re-opened due to the recent 3.0.0 changes

https://github.com/tus/TUSKit/issu

[2022-05-03 19:55] pangia opened #130 "Chunksize and filesize. How to set using older objective c framework?"
I am using the older objective C version of the framework (version 1.4.2). Everything works fine, except the videos are getting uploaded and staying in a false 'ReadyToStream' status. The duration is set to zero in the response, but the dimensions are correct.

Also, the thumbnail is available.. just no video.

I noticed in the javascript package that there is an 'options' object that gets populat

[2022-05-24 13:15] tomgreco opened #131 "EXC_BAD_ACCESS"
When uploading large batches of files I tend to get a "EXC_BAD_ACCESS - Attempted to dereference garbage pointer" error which crashes the entire app.

Calling `TUSClient.uploadFileAt` in a loop over 200-300 files tends to cause it.

Running on an iPhone 13 Pro.

Here's the stack at the time of the crash:
<img width="526" alt="image" src="https://user-images.githubusercontent.com/92157216/170043136

[2022-05-24 15:47] kvz commented on #27
cc @elvirion

[2022-05-31 05:29] elvirion commented on #27
@tomgreco which version are you using?

[2022-05-31 13:28] tomgreco commented on #27
@elvirion the latest version.

[2022-06-22 02:49] KKyosuke opened #133 "Uploading to Vimeo Error [couldNotCreateFileOnServer]"
When trying to upload to viemo [this function](https://github.com/tus/TUSKit/blob/master/Sources/TUSKit/TUSAPI.swift#L76-L93) returns the exception and the upload fails.

It seems the vimeo server does not allow the POST method and does not return the location field.

How should I solve this problem?
1. ask vimeo to enable POST and return "location" field
2. [skip the check and return upload url](

[2022-07-12 22:04] BradPatras opened #134 "Why does TUSKit assume the server supports the CreationTask?"
According to [tus.io](https://tus.io/protocols/resumable-upload.html), the work that is currently being done in the CreationTask is an extension and not part of the core tus protocol which means it isn't required to be supported by tus servers. I don't think TUSKit should be assuming the server supports it or at least fail gracefully and attempt the upload with the given server url.

Here's the qu

[2022-07-12 22:08] BradPatras commented on #133
I just ran into this as well.  Vimeo doesn't support the __Creation__ tus protocol extension, while TUSKit is currently assuming the server supports it.

I think TUSKit should be doing what the tus protocol [documentation](https://tus.io/protocols/resumable-upload.html) suggests and not assuming the server will support the creation protocol extension:

[2022-07-13 13:22] BradPatras commented on #134
I found a [comment](https://github.com/tus/TUSKit/issues/68#issuecomment-623389258) in issue #68 that mentions a way to skip the creation step but it looks like that function is no longer available.

[2022-07-13 20:59] BradPatras commented on #134
i'd love to submit a PR but even a quick fix might have some gotchas involved.
The quick and dirty fix that I just successfully implemented on my fork involves adding a `var enableCreation: Bool` flag on `TUSClient`.  Then updating [TUSClient.swift#makeMetadata()](https://github.com/tus/TUSKit/blob/60cbc639ddd66158558c6fd7e28b89456f61f366/Sources/TUSKit/TUSClient.swift#L337) to take that flag into

[2022-07-20 16:02] yunustek opened #135 "v2.1.0 -> 3.1.2 Migration"
I have v2.1.0 for my project. Have any docs for 3.1.2?

[2022-08-02 10:19] Shivam-becker opened #136 "The operation couldn’t be completed. (TUSKit.TUSClientError error 7.)"
Error coming when uploading image from swift client to dotnet client

[2022-08-02 12:14] gurpreetKobe commented on #134
Hi @BradPatras . I am trying to upload images (single and multiple) but every time I seem to get "couldNotCreateFileOnServer" error. The android version seems to be working fine. Both of us are using the same backend server. Can you guide me on this or share a working example as I read in a thread you were also probably facing a similar issue?

[2022-08-02 12:24] BradPatras commented on #134
@gurpreetKobe Try switching your dependency to my fork of TUSKit and pass in an empty array for the TUSClient initializer param, `supportedExtensions`. If this fixes your problem, then you're probably hitting the same issue as me.

[2022-08-02 13:19] gurpreetKobe commented on #134
@BradPatras  Thanks for thw quick reponse. I tried but did not work. I am able to upload on "https://tusd.tusdemo.net/files" (provided in the example) but not on my team's backend server. :/

[2022-08-02 14:22] BradPatras commented on #134
@gurpreetKobe bummer, you might be dealing with a different problem then 🫤

[2022-08-02 18:47] tursunovic commented on #136
Hi @Shivam-becker,

Could you provide more context regarding your issue (e.g. TUSKit version, platform etc)? And can you reproduce it every-time?

[2022-08-03 05:25] Shivam-becker commented on #136
The operation couldn’t be completed. (TUSKit.TUSClientError error 7.)
Hi @tursunovic . Thanks for your quick reply. Yes it's reproducing everytime. It's working fine with android but not iOS. I am using TUSKit pod Version 3.1.2 Xcode Version 13.0  using Swift 5.
This is how I'm initializing. Calling this method in viewDidLoad : -
  func initialiseTUSClient() {
        do {
            tusClient =

[2022-08-03 15:04] fmp6475 commented on #134
Hi @BradPatras Thanks for the sharing of this quick fix. It took me one step further implementing upload feature using Vimeo and tus protocol.
However I got another error: `TUSKit.TUSClientError.couldNotGetFileStatus`. Do you have any idea what am I missing?

Here's my code snippet:
[code]

[2022-08-03 18:24] BradPatras commented on #134
@fmp6475 A couple things, you shouldn't have to add the custom headers, "Tus-Resumable", "Upload-Offset", or "Content-Type" since those will be added by TUSKit automatically.

I haven't used the `uploadFileAt` version of the upload, so I'd verify that the file exists where you expect it to, or you could also try using the other version of the upload function (which I have used successfully), `uplo

[2022-08-03 20:37] tursunovic commented on #136
Hi @Shivam-becker,

Your initialisation and usage of the TUSClient seems to be fine. However, the "TUSKit.TUSClientError error 7." looks like a `couldNotCreateFileOnServer` error, which is [triggered](https://github.com/tus/TUSKit/blob/60cbc639ddd66158558c6fd7e28b89456f61f366/Sources/TUSKit/Tasks/CreationTask.swift#L70) when the creation request fails.

Can you indicate if your server supports the

[2022-08-04 00:22] fmp6475 commented on #134
@BradPatras Thanks for your suggestions! After removing the custom headers, it worked. No further error occurred 👍

[2022-08-04 18:14] Shivam-becker commented on #136
i have added custom header (upload-metadata:filetype asdtiytasd76sa7d67as6dahsd==,contenttype sdgakhsgd==)

than problem solved

[2022-08-05 09:44] Shivam-becker commented on #136
fIXED

[2022-08-05 09:44] #136 closed

[2022-08-09 07:38] Acconut commented on #134
@BradPatras Thanks for your help! I will close this since I think your PR #137 resolves this shortcoming.

[2022-08-09 07:38] #134 closed

[2022-08-09 07:44] Acconut commented on #133
@KKyosuke, I think @BradPatras answered your question (thank you), so I will close this. Let us know if you need more assistance

[2022-08-09 07:44] #133 closed

[2022-08-09 08:02] Acconut commented on #135
Unfortunately, I do not think we have a migration guide for upgrading from v2 to be. It was a bigger rewrite, so it is probably best to have a look at the current README, as it describes the current API in detail.

[2022-08-17 16:21] andrestone opened #138 "Metadata field regression"
[This PR](https://github.com/tus/TUSKit/pull/126) makes this implementation behave different from `tus-js-client` (at least) with regards to how custom metadata is packaged.

Currently, there's no straight-forward way to add a custom entry to the `Upload-Metadata` header directly.

[2022-08-17 19:48] tursunovic commented on #138
Hi @andrestone,

Could you elaborate on what you mean with the lack of a straight-forward way to add a custom entry? All the public upload methods in the client accept custom headers, which should be sufficient for most use cases.

[2022-08-17 19:55] andrestone commented on #138
The custom headers are not added as fields on the Upload-Metadata HTTP header. It seems like, after that PR, the custom headers are added as a separate dictionary.

This behavior is not consistent with the JS client implementation.

[2022-08-17 20:18] tursunovic commented on #138
Thanks for the clarification. Looking at the docs of the `tus-js-client` is see this about [headers](https://github.com/tus/tus-js-client/blob/master/docs/api.md#headers):

[code]

That is also how it's currently used in this library. Perhaps I'm missing something, could you point out where the difference is?

[2022-08-19 09:51] andrestone commented on #138
It's about being able to add to a specific header (Upload-Metadata).
https://github.com/tus/tus-js-client/blob/master/docs/api.md#metadata

[2022-08-22 16:12] tursunovic commented on #138
Ahh I see. You are right, will fix this and follow up soon.

[2022-09-08 19:00] yunustek commented on #86
I already tried on version 3.1.3 still same

[2022-09-08 19:21] genkernel opened #139 "Error when compiling with just published XCode 14 RC."
Apple just released next major version of XCode and their XCode Cloud now defaults to XCode 14.
When building TUSKit using XCode 14 build fails with an error:

<img width="1296" alt="Screen Shot 2022-09-08 at 12 15 41 🌙" src="https://user-images.githubusercontent.com/1649419/189207359-eed33fe9-5f1b-472d-a4f4-fc3775864f26.png">

Would maintainers like to update library themselves or potentially int

[2022-09-08 19:46] tursunovic commented on #139
Hi @genkernel,

For now, you can use the [xcode14](https://github.com/tus/TUSKit/tree/xcode14) branch. It will be merged in the coming days.

[2022-09-08 19:51] genkernel commented on #139
Ahh I didn't not notice the branch. Thanks!

[2022-09-08 19:51] #139 closed

[2022-09-08 19:54] tursunovic commented on #86
@yunustek ,

Looks like you are trying to obtain a resource after using the system's built-in image picker. Could you indicate how you are using it, or share the integration code? And are you able to reproduce this with any kind of resource that you pick (e.g. small image and large videos)?

[2022-09-15 07:27] yunustek opened #141 "[!] Unable to read the license file `LICENSE` for the spec `TUSKit (3.1.4)`"
Pod install taking this warning:

[2022-09-15 07:30] yunustek opened #142 "We can't upgrade to 3.1.4?"
I need v3.1.4 for xcode 14 but pod is can't find

[code]

[2022-09-15 07:40] yunustek commented on #142
Solution:

It's worked after `pod install --repo-update`

[2022-09-15 07:40] #142 closed

[2022-09-30 12:49] Acconut commented on #141
Thank you for notifying us. Is this just a warning or preventing you from installing TUSKit?

[2022-09-30 14:42] yunustek commented on #141
Thank you too! This is only a warning ⚠️

[2022-10-12 13:43] m3t8d1tr commented on #141
Why didn't you add the license file?

[2022-10-12 18:25] tursunovic commented on #141
Hi @m3t8d1tr,

I've just added the license, will be included in next release.

[2022-10-12 18:25] #141 closed

[2022-10-14 03:55] tfidmmatthew opened #144 "Scheduler Delegate Nil Error"
[code]

I am using the library in Objective C code which I implement NSObject. Most of the variables work fine but the schduler.delegate in found nil that could not proceed to upload.

Please help thanks!

[2022-10-28 09:20] gurpreetKobe opened #145 "Xcode 14 Issue"
<img width="836" alt="Screenshot 2022-10-28 at 2 48 37 PM" src="https://user-images.githubusercontent.com/52526943/198552469-cf876b8b-2ec6-4bc1-a392-1aab0dfa46c8.png">

[2022-10-31 09:22] gurpreetKobe commented on #145
My bad. Fixed in latest pod version.

[2022-10-31 09:22] #145 closed

[2022-11-03 07:06] m3t8d1tr opened #146 "Crashed: com.TUSKit.Scheduler"
Hi there.
After migration to version 3, we started getting crashes on devices with iOS 12.

[code]
Any ideas?

[2022-11-16 09:29] rick51231 commented on #146
As I see, we have the same issue.
Xcode (14.1) with 6s (12.4) simulator crashes with EXC_BAD_ACCESS on UploadDataTask.swift:159  :
`        observation = task.progress.observe(\.fractionCompleted) { [weak self] progress, _ in`

Didn't found any solution for now.

[2022-11-30 12:09] m3t8d1tr commented on #146
Fix:
<img width="996" alt="image" src="https://user-images.githubusercontent.com/11466493/204792455-f7fea064-2c43-4a8a-a765-48311eeda3fd.png">